@-webkit-keyframes invalidshake{8%, 41%{-webkit-transform: translateX(-10px)}25%,58%{-webkit-transform: translateX(10px)}75%{-webkit-transform: translateX(-5px)}92%{-webkit-transform: translateX(5px)}0%,100%{-webkit-transform: translateX(0)}}
@keyframes invalidshake{8%, 41%{transform: translateX(-10px)}25%,58%{transform: translateX(10px)}75%{transform: translateX(-5px)}92%{transform: translateX(5px)}0%,100%{transform: translateX(0)}}
@-webkit-keyframes bounceIn{0%{opacity: 0;-webkit-transform: scale3d(0.85, 0.85, 0.85)}50%{opacity: 1;-webkit-transform: scale3d(1.05, 1.05, 1.05)}70%{opacity: 1;-webkit-transform: scale3d(0.9, 0.9, 0.9)}100%{opacity: 1;-webkit-transform: scale3d(1, 1, 1)}}
@keyframes bounceIn{0%{opacity: 0;transform: scale3d(0.85, 0.85, 0.85)}50%{opacity: 1;transform: scale3d(1.05, 1.05, 1.05)}70%{opacity: 1;transform: scale3d(0.9, 0.9, 0.9)}100%{opacity: 1;transform: scale3d(1, 1, 1)}}
@-webkit-keyframes scaleIn{0%{opacity: 0;-webkit-transform: scale3d(0.9, 0.9, 0.9)}100%{opacity: 1;-webkit-transform: scale3d(1, 1, 1)}}
@keyframes scaleIn{0%{opacity: 0;-webkit-transform: scale3d(0.9, 0.9, 0.9)}100%{opacity: 1;-webkit-transform: scale3d(1, 1, 1)}}
@-webkit-keyframes fadeIn{0%{opacity: 0}100%{opacity: 1}}
@keyframes fadeIn{0%{opacity: 0}100%{opacity: 1}}
@-webkit-keyframes pulse{0%{-webkit-transform: scale(1)}50%{-webkit-transform: scale(1.05)}100%{-webkit-transform: scale(1)}}
@-moz-keyframes pulse{0%{-moz-transform: scale(1)}50%{-moz-transform: scale(1.05)}100%{-moz-transform: scale(1)}}
@-o-keyframes pulse{0%{-o-transform: scale(1)}50%{-o-transform: scale(1.05)}100%{-o-transform: scale(1)}}
@keyframes pulse{0%{transform: scale(1)}50%{transform: scale(1.05)}100%{transform: scale(1)}}
.pulse{-webkit-animation: pulse 800ms;-moz-animation: pulse 800ms;-o-animation: pulse 800ms;animation: pulse 800ms}
.animate-view{-moz-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);-o-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);-webkit-transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94)}
.animate-view.ng-enter,
.animate-view.ng-leave{display: block}
.animate-view.ng-enter{opacity: 0}
.animate-view.ng-enter.ng-enter-active{opacity: 1}
.animate-view.ng-leave{display: none}
.animate-view.ng-leave.ng-leave-active{opacity: 0}
.repeat-animation{opacity: 1}
.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger{-webkit-animation-delay: 200ms;animation-delay: 200ms;-webkit-animation-duration: 0;animation-duration: 0}
.repeat-animation.ng-enter{-webkit-animation: fadeIn 400ms;animation: fadeIn 400ms}
.repeat-animation.ng-enter.ng-enter-active,
.repeat-animation.ng-move.ng-move-active{opacity: 0}
*{margin: 0;padding: 0;box-sizing: border-box}
html,
body,
#main{height: 100%}
form{margin: 0;padding: 0}
#main>article>section.content .loader{margin: 30px}
#main>article>section.content header{margin-bottom: 10px}
.loader{display: block;position: relative;z-index: 1}
.loader .spinner{top: 50%;left: 50%}
.loading-cover{position: absolute;z-index: 10;top: 0;left: 0;right: 0;bottom: 0;text-align: center;background-color: white;display: none;opacity: 0;-moz-transition: all 0.25s;-o-transition: all 0.25s;-webkit-transition: all 0.25s;transition: all 0.25s}
.loading-cover .loader{margin: 0 !important;height: 100%;opacity: .5}
.location-notice,
.availability-notice{text-align: center;font-size: 11pt;padding: 20px 30px;color: #818284}
.location-notice p,
.availability-notice p{font-size: 11pt;line-height: 1.25;margin-bottom: 10px}
.weekend-message h4{margin-bottom: 10px}
.weekend-message p{line-height: 1.5;margin-bottom: .5em}
.collapse-container{overflow: hidden}
.zero-case{color: #888;padding: 15px 15px 25px 0}
.zero-case.limit{color: red;border: 1px solid red;text-align: center;padding: 10px;margin-bottom: 20px;margin-top: 15px}
.daily-desks .city-block{overflow: hidden}
.daily-desks .city-block header{margin-bottom: 10px}
.daily-desks .daily-desk{position: relative;margin-bottom: 30px;text-align: center;background-color: #fff;min-width: 285px}
.daily-desks .daily-desk .daily-desk-details{min-height: 290px;padding: 20px}
.daily-desks .daily-desk .daily-desk-details .location{min-height: 85px}
.daily-desks .daily-desk .daily-desk-details .aux-info{min-height: 45px}
.daily-desks .daily-desk .daily-desk-thumbnail{cursor: pointer;overflow: hidden;height: 120px}
.daily-desks .daily-desk .daily-desk-thumbnail:hover{opacity: .8}
.daily-desks .daily-desk .daily-desk-thumbnail img{display: block;width: 100%}
.daily-desks .daily-desk.unavailable{opacity: .25}
.daily-desks .daily-desk .location .name{font-size: 14pt;font-weight: bold}
.daily-desks .daily-desk .capacity{padding: 5px 15px 0}
.daily-desks .daily-desk .capacity .count{width: 40px;height: 40px;line-height: 42px;margin: 0 auto 4px;display: block;font-size: 14pt;font-weight: bold;border-radius: 50%;background-color: #000;color: white}
.daily-desks .daily-desk .book-now{position: absolute;bottom: 0;left: 0;right: 0}
.daily-desks .daily-desk .book-now button.btn{width: 100%}
.confirm-dailydesk .submit-area{margin-top: 0px;text-align: center}
.daily-desk-details{line-height: 1.5;text-align: center}
.daily-desk-details h2{padding-top: 15px;margin-bottom: 15px}
.daily-desk-details .date{font-size: 12pt}
.daily-desk-details .credits{font-size: 11pt;font-weight: bold;margin-top: 5px}
.daily-desk-details .after-hours{font-weight: bold;color: #edae49;font-size: 1.1em}
.daily-desk-details .location-name{font-weight: bold}
.daily-desk-details img{max-width: 80%;max-height: 200px;margin-bottom: 15px}
@media (max-height: 580px){.daily-desk-details img{display: none}}
.daily-desk-reservation-list .daily-desk-reservation{padding: 20px;margin-bottom: 20px;text-align: center;background-color: #fff}
.daily-desk-reservation-list .daily-desk-reservation .location .name{font-size: 14pt;font-weight: bold}
.daily-desk-reservation-list .daily-desk-reservation .cancel{font-weight: bolder;margin-top: 10px;font-size: 1.2em}
.daily-desk-reservation-list .daily-desk-reservation .cant-cancel{font-weight: bolder;color: #ccc;cursor: pointer;margin-top: 10px;font-size: 1.2em}
.credits-notice{margin: 0 auto;text-align: center}
.credits-notice>.credits{display: inline-block;vertical-align: top;font-size: 8pt;line-height: 1.2;text-align: center;text-transform: uppercase;color: #818284}
.credits-notice>.credits:first-of-type{padding-right: 20px;margin-right: 20px;border-right: 1px solid #f7f7f7}
.credits-notice>.credits:last-of-type{border-right: none;padding-right: 0px;margin-right: 0px}
.credits-notice>.credits .credits-count{letter-spacing: 2px;font-family: "ReformaGroteskW01-Demi", sans-serif;font-size: 19pt;color: #edae49}
.credits-notice>.credits .credits-count.zero{color: #d7413b}
.credits-notice .anywhere-credits-allotted{display: block}
#ddNotice{position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: #f7f7f7}
#ddNotice h2{margin-bottom: 15px}
#ddNotice p{line-height: 1.5;margin-bottom: 15px}
#ddNotice .notice{min-height: 300px;max-width: 400px;margin: 0 auto;border: 20px solid #f7f7f7;padding: 150px 20px 20px;text-align: center;background-position: 50% 10%;background-repeat: no-repeat;background-color: #fff;background-image: url(../images/tmp/1.png);background-size: 100px auto}