/* reset css start*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, main, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video{margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
main, article, aside, details, figcaption, figure, footer, header, menu, nav, section{display: block;}
nav, ul{list-style: none; list-style-type: none; outline: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content: none;}
a{margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
a:hover{cursor: pointer;text-decoration: none;}
ins{background-color: #ff9; color: #000; text-decoration: none;}
mark{background-color: #ff9; color: #333; padding: 0 4px; color: #666; font-size: 14px;}
del{text-decoration: line-through;}
abbr[title], dfn[title]{border-bottom: 1px dotted; cursor: help;}
table{border-collapse: collapse; border-spacing: 0;}
hr{display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0;}
input, select{vertical-align: middle; outline: none;}
/* reset css end*/

/*head*/
.head{ height: 50px;line-height: 50px;background: #252729}
.head .headbox{width: 1170px;margin: 0 auto;}
.head .logo a{background: url(../images/tmp/logo.png) no-repeat 0 -148px;background-size: 121px  auto;width: 100px;height: 23px; float: left;margin: 13px 0; }
.head span a{display: block;float: right;color:#fff;font-size: 12px;text-decoration: none;}
.contain{width: 1170px;margin: 0 auto;overflow: hidden;}
.nav{background: #fff;padding: 30px 0;}
.nav .contain .nav-left{float:left;font-size: 36px;color: #000;font-weight: bolder;}
.nav .contain .nav-right{float: right}
.nav .contain .nav-right span{display: block;float: left;color: #818284;text-align: center;padding-left: 20px;}
.nav .contain .nav-right span:first-child{border-right: 1px solid #f7f7f7;padding-right: 20px;}
.nav .contain .nav-right span em{font-style: normal;font-size: 26px;text-align: center;color: #edae49;line-height:30px;font-weight: bolder;}
.nav .contain .nav-right span p{font-size: 12px;}
