body{margin: 0;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 14px;line-height: 20px;color: #333;background-color: #fff}
a{color: #08c;text-decoration: none}
a:hover,
a:focus{color: #005580;text-decoration: underline}
.row{margin-left: -20px;*zoom: 1}
.row:before,
.row:after{display: table;content: "";line-height: 0}
.row:after{clear: both}
.time-msg{border: none;font-size: 16px;line-height: 16px;font-weight: bold;background-color: #f7f7f7;}
select:focus:invalid:focus{border-color: #e9322d;-webkit-box-shadow: 0 0 6px #f8b9b7;-moz-box-shadow: 0 0 6px #f8b9b7;box-shadow: 0 0 6px #f8b9b7}
.control-group{margin-bottom: 10px}
.pull-right{float: right}
.pull-left{float: left}
.hide{display: none}
.show{display: block}
.input-block-level{display: block;width: 100%;min-height: 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
.clearfix{*zoom: 1}
.clearfix:before,
.clearfix:after{display: table;content: "";line-height: 0}
.clearfix:after{clear: both}
.hide-text{font: 0/0 a;color: transparent;text-shadow: none;background-color: transparent;border: 0}
.input-block-level{display: block;width: 100%;min-height: 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
@media (min-width: 1200px){.row{margin-left: -30px;*zoom: 1}.row:before,.row:after{display: table;content: "";line-height: 0}.row:after{clear: both}[class*="span"]{float: left;min-height: 1px;margin-left: 30px}.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width: 1170px}input,textarea,.uneditable-input{margin-left: 0}.controls-row [class*="span"]+[class*="span"]{margin-left: 30px}.thumbnails{margin-left: -30px}.thumbnails>li{margin-left: 30px}.row-fluid .thumbnails{margin-left: 0}}
@media (min-width: 768px) and (max-width: 979px){.row{margin-left: -20px;*zoom: 1}.row:before,.row:after{display: table;content: "";line-height: 0}.row:after{clear: both}[class*="span"]{float: left;min-height: 1px;margin-left: 20px}.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width: 724px}}
@media (max-width: 767px){body{padding-left: 20px;padding-right: 20px}.navbar-fixed-top,.navbar-fixed-bottom,.navbar-static-top{margin-left: -20px;margin-right: -20px}.container-fluid{padding: 0}.dl-horizontal dt{float: none;clear: none;width: auto;text-align: left}.dl-horizontal dd{margin-left: 0}.container{width: auto}.row-fluid{width: 100%}.row,.thumbnails{margin-left: 0}.thumbnails>li{float: none;margin-left: 0}[class*="span"],.uneditable-input[class*="span"],.row-fluid [class*="span"]{float: none;display: block;width: 100%;margin-left: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}.span12,.row-fluid .span12{width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}.row-fluid [class*="offset"]:first-child{margin-left: 0}.input-large,.input-xlarge,.input-xxlarge,input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input{display: block;width: 100%;min-height: 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}.input-prepend input,.input-append input,.input-prepend input[class*="span"],.input-append input[class*="span"]{display: inline-block;width: auto}.controls-row [class*="span"]+[class*="span"]{margin-left: 0}}
@media (max-width: 480px){.nav-collapse{-webkit-transform: translate3d(0, 0, 0)}.page-header h1 small{display: block;line-height: 20px}input[type="checkbox"],input[type="radio"]{border: 1px solid #ccc}.form-horizontal .control-label{float: none;width: auto;padding-top: 0;text-align: left}.form-horizontal .controls{margin-left: 0}.form-horizontal .control-list{padding-top: 0}.form-horizontal .form-actions{padding-left: 10px;padding-right: 10px}.media .pull-left,.media .pull-right{float: none;display: block;margin-bottom: 10px}.media-object{margin-right: 0;margin-left: 0}.carousel-caption{position: static}}
body{color: #252729;font-family: "Proxima-N-W15-Reg", "Lucida Grande", Arial, sans-serif;font-size: 12px;line-height: 1.231}
input,
button,
select,
textarea{font-family: "Proxima-N-W15-Reg", "Lucida Grande", Arial, sans-serif;font-size: 12px}
a{color: #7AB9DE;text-decoration: none;-webkit-transition: 0.25s;-moz-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;-webkit-backface-visibility: hidden}
a:hover{color: #1abc9c;text-decoration: none}
h1,
.h1{font-size: 47.04px}
h2,
.h2{font-size: 20.4px}
h3,
.h3{font-size: 12px}
h4,
.h4{font-size: 12px}
h5,
.h5{font-size: 12px}
h6,
.h6{font-size: 12px}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6{display: block;margin: 0;padding: 0;line-height: 1em}
h1,
.h1,
h2,
.h2{font-family: "ReformaGroteskW01-Demi", "Lucida Grande", Arial, sans-serif;text-transform: uppercase}
h1{font-weight: bold}
h2{font-weight: bold}
h3,
.h3{font-weight: bold;font-size: 15pt;color: #e2e2e2}
h4,
.h4{font-weight: bold;font-size: 12pt}
h5{font-weight: normal}
h6{font-weight: normal}
p{font-size: 13.08px;line-height: 1.7234}
.btn,
.btn-group>.btn,
.btn-group>.popover{font-size: 12.852px;font-weight: 500}
.btn{border-color: transparent;background: #252729;color: white;padding: 14px 35px 12px;line-height: 22px;text-decoration: none;text-shadow: none;text-transform: uppercase;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;-webkit-transition: none;-moz-transition: none;-o-transition: none;transition: none;-webkit-backface-visibility: hidden;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0}
.btn.btn-suc{background-color: #edae49}
@media (max-width: 480px){.btn.btn-block{margin: 9px 0 18px}}
.btn.btn-suc:hover{border-color: #edae49;color: #FFFFFF;opacity: .8;}
label{color: #818284}
select{-moz-appearance: none;-webkit-appearance: none;position: relative;padding: 6px 28px 5px 10px;line-height: 1;background-image: url(../images/tmp/dropdown-arrow.png);background-repeat: no-repeat;background-position: 100% 50%;background-size: 19px 15.5px;border-radius: 0;outline: 0;border-color: #e2e2e2;background-color: #fff;color: #252729}
.control-group.success>.input-icon,
.control-group.success input+.input-icon,
.control-group.success .msg{color: #edae49}
html,
body{background-color: #f7f7f7}
i[data-icon]{position: relative;top: 1px;font-style: normal !important}
select.full{width: 100%}
#masthead{height: 40px;line-height: 40px;overflow: hidden;position: relative;margin: 0 -20px;padding: 0 20px;background-color: #000;color: white}
#masthead a{color: white}
#masthead .brand{display: inline-block;position: relative;float: left;margin-top: 10px;font: 0/0 a;color: transparent;text-shadow: none;background-color: transparent;border: 0;background-image: url(../images/tmp/logo.png);background-repeat: no-repeat;background-position: 50% 50%;-webkit-background-size: 70px auto;-moz-background-size: 70px auto;-o-background-size: 70px auto;background-size: 70px auto;width: 70px;height: 15px}
#masthead .nav-user{float: right}
#masthead .nav-user .user-info{display: none}
#masthead .nav-user .reservations-count{height: 40px}
#masthead .nav-user .reservations-count strong{display: inline-block;padding: 3px 3px 1px;border-radius: 3px;line-height: 1;background-color: white;color: #000}
@media (min-width: 768px){#masthead{margin: 0;height: 50px;line-height: 50px}#masthead .brand{margin-top: 10px;font: 0/0 a;color: transparent;text-shadow: none;background-color: transparent;border: 0;background-image: url(../images/tmp/logo.png);background-repeat: no-repeat;background-position: 50% 50%;-webkit-background-size: 107px auto;-moz-background-size: 107px auto;-o-background-size: 107px auto;background-size: 107px auto;width: 107px;height: 23px}#masthead .nav-user .user-info{display: inline-block}}
body.iframe #masthead{display: none}
#main>article>header{position: relative;padding: 10px 15px;margin-bottom: 15px;background-color: white}
@media (min-width: 768px){#main>article>header{padding: 20px}}
#main>article>header h1{padding-top: 6px}
#main>article>header h2{position: relative;display: block;padding-top: 4px}
#main>article>header.hero{padding: 17px 20px 15px}
#main>article>header.hero .container{position: relative}
#main>article>header.hero h1{display: block;padding-top: 8px}
#main>article>header.hero h3{margin-top: 10px;font-size: 13pt}
@media (min-width: 768px){#main>article>header.hero{padding: 30px 20px}#main>article>header.hero h1{display: inline-block}#main>article>header.hero .daily-desk{display: block;color: #edae49}}
#main>article>header.has-back .back{position: absolute;z-index: 2;left: 10px;display: block;padding: 10px;color: #000;font-size: 14pt}
#main>article>header.has-back .container{margin-left: 40px}
#main>article>section.content{padding: 30px 0}
article.home{height: 100%}
article.home section.content .row{position: relative}
@media (min-width: 768px){
article.home section.content .row{display: -webkit-box;display: -moz-box;display: -ms-box;display: box;width: 100%;margin-left: 0}}
#results-section{position: relative}
#results-section .title{line-height: 1.2}
#results-section .rush-hours{color: #818284;line-height: 2}
@media (min-width: 768px){#results-section{-webkit-box-flex: 3;-moz-box-flex: 3;-ms-box-flex: 3;box-flex: 3;padding-left: 20px;margin-left: 20px;border-left: 1px solid #eaeaea}}
#results-section .results-list{position: relative;margin-top: 15px}
#results-section .results-list .result-rows{position: relative;z-index: 2}
@media (min-width: 980px){#results-section .results-list.grid .room{float: left;width: 319px}#results-section .results-list.grid .room:nth-child(odd){float: right}}
@media (min-width: 1200px){#results-section .results-list.grid .room{width: 427px}}
#later-section{margin-bottom: 20px}
@media (min-width: 768px){#later-section{-webkit-box-flex: 1;-moz-box-flex: 1;-ms-box-flex: 1;box-flex: 1;min-width: 240px;max-width: 240px}}
#thankyou .actions li{display: block;margin: 0 0 10px 0}
#thankyou .actions li .btn{display: block}
@media (min-width: 768px){#thankyou .actions li{display: inline-block;margin-right: 5px}}
.datepicker-modal{position: absolute}
.set-location label{margin: 0}
.date-picker{margin-bottom: 10px}
.has-shadow{-webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.025);-moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.025);box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.025)}
.media.inline{width: auto}
.media>.img{float: left}
.media>.img img{display: block}
.media>.bd{display: table-cell;width: 10000px;*width: auto;*zoom: 1}
@media (min-width: 768px){.card.room .times .btn:hover{background-color: #f4cd8f}}
.card.room.loading{opacity: .45}
.card.room.unavailable{opacity: .45}
@media (min-width: 1200px){
.date-picker-options{position: relative}
.date-picker-options.loading .loading-cover{opacity: 1;display: block}
.results>header{position: relative}
.results>header .loader{position: absolute;right: 10px;top: 0}
.daily-desks .city-block{padding: 0;margin-bottom: 25px}
.daily-desks .daily-desk{float: left;width: 49%;margin-right: 1%}
@media (max-width: 979px) and (min-width: 768px){.daily-desks .daily-desk{float: none;width: auto;margin-right: 0}}
@media (min-width: 1200px){.daily-desks .daily-desk{width: 32%}}
.desktop-info{margin-left: 5px}
.reservation-list{margin-bottom: 30px}
.reservation-list .header{padding: 10px 10px 5px 0;border-bottom: 1px solid #e2e2e2;margin-bottom: 10px}
.reservation-list .loader{top: 15px}
.home.desktop .reservation-list{clear: left;margin-top: 30px}
.credits-notice{margin: 0 auto;text-align: center;line-height: 1;color: #818284}
.credits-notice strong{padding-left: 5px;font-weight: bold;font-size: 14pt;color: #edae49}
.filter-options{position: relative;margin: 10px 0 25px}
.filter-options .control-group{display: inline-block;margin-right: 5px}
.filter-options .control-group select{width: 100%;min-width: 100px;margin-bottom: 0;border: 1px solid #eee;}
.filter-options .control-group.locations select{width: 208px}
.filter-options .submit-area .btn{display: inline-block}
.filter-options .submit-area .loader{top: -5px;left: 10px;display: inline-block}
.filter-options .errors{clear: left}
.submit-area{padding-top: 15px}
.submit-area .btn{margin-right: 5px}
.submit-area .errors{margin: 15px 0;color: #d7413b}