@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input { margin: 0; padding: 0; border: none; outline: 0; font-size: 100%; vertical-align: baseline; }
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { -webkit-user-select: none; -webkit-text-size-adjust: none; font-family:"微软雅黑", helvetica, arial; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
/* 全局 */
*{ /*box-sizing: border-box; -webkit-box-sizing: border-box;*/font-family: "Microsoft YaHei", tahoma, arial, sans-serif;/*-webkit-tap-highlight-color:rgba(0,0,0,0);*/vertical-align: baseline;}
html { height: 100%; }
body { font-size: 62.5%; margin: auto; height: 100%; line-height: 22px; position: relative; text-align: justify; background-color: #eee;  overflow-x: hidden; color:#505050;}
a { cursor: pointer; text-decoration: none; }
a:link, a:visited {color: #505050; }
img {border:0; margin: 0; padding: 0;}
.fr{float: right;}
.fl{float: left;}
.clear{clear: both;height: 60px;}
.c_88{color: #888585}
.c_7a{color: #7a2bac}
.c_59{color: #59d20b}
.c_d2{color: #d2850b}
.c_e2{color: #e20e40}
.c_ed{color: #ed3780}
.c_f0{color: #f0965a}
.c_f6{color: #ff64a2;}
.red{color: red;}
.c_8d{color: #85D0F3;}
/*通用*/
.com-row{width: 94%;margin: 0 auto;}
.com-row:after{clear: both;content: ".";height: 0;visibility: hidden;font-size: 0;display: block;}
.clearfix{clear: both;}
.clearfix:after{clear: both;content: ".";height: 0;visibility: hidden;font-size: 0;display: block;}
