@charset "utf-8";
/**基本格式开始***************/
*{word-break:break-all;}
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p 
{margin:0 auto;padding:0px;font-size:12px; font-family:微软雅黑;width:100%;}
ul{list-style:none;}
img,a img {border:none;}
a{text-decoration:none;}
a{color:#000;}
a:hover{text-decoration:none;}


/*老师照片*/
.bodyCon07{background:url(../images/dy_pic091.jpg);width:100%; overflow:hidden;}
.bodyCon07 .teacher{width:1100px;height:530px;position:relative;margin:0 auto; overflow:hidden;background:url(../images/dy_pic09.jpg);}
.bodyCon07 .teacher .teacherPic{width:1100px;height:360px;position:absolute; top:130px;}
.bodyCon07 .teacher .teacherPic .content{width:180px;height:360px;float:left;position:relative;overflow:hidden;margin-left:3px;}
.bodyCon07 .teacher .teacherPic .content .txt{width:156px;height:100px;background:rgba(18,21,44,0.7); position:absolute;left:0px;bottom:0px;padding:0 12px;border-top:2px solid #CB5412;}
.bodyCon07 .teacher .teacherPic .content .txt h3{color:#CB5412;font-size:24px;font-weight:100;margin:10px 0 6px 0;}
.bodyCon07 .teacher .teacherPic h4{color:#fff;font-size:14px;font-weight:100;}
.bodyCon07 .teacher .teacherPic .content .txt p{color:#fff;margin-top:20px;padding-top:12px;border-top:1px solid #CB5412;}