/*加入会员页面*/
.mb{margin-bottom: 100px;}
.fr{float:right;}
.sign_warp{width: 640px;padding: 30px 30px;border-left: 1px solid #eee;border-right: 1px solid #eee;border-bottom: 1px solid #eee;}
.sign_warp .h2_title{font-size: 22px;margin-bottom: 20px;font-weight: 700;line-height: 24px;text-align: left;}
.sign_warp .h3_title{font-size: 18px;margin-bottom: 20px;font-weight: 700;line-height: 24px;text-align: left;}
.sign_warp .h4_title{font-size: 16px;margin-bottom: 20px;font-weight: 700;line-height: 20px;text-align: left;}
.sign_warp .sign_list{list-style: inside;margin-bottom: 20px;}
.sign_warp .sign_list li{height: 20px;font-size: 14px;line-height: 20px;}
.check_box{margin-bottom: 20px;font-size: 14px;line-height: 14px;color: #f47857;}
.Package_box{display: block;float: left;line-height: 24px;width: 200px;font-size: 14px;}
.Package_box p{font-weight: bold;color: #7ab9de;padding-left: 23px;}
.Package_box a{color: #f47857;padding-left: 23px;text-decoration: none;}
.Package_box a:hover{text-decoration: none;}
.input_md{padding: 5px;height: 24px;line-height: 24px;font-size: 14px;margin-right: 20px;margin-bottom: 18px;width: 265px;border: 1px solid #eee;}
.input_lg{padding: 5px;height: 24px;line-height: 24px;font-size: 14px;margin-right: 20px;margin-bottom: 18px;width: 570px;border: 1px solid #eee;}
.select_lg{width: 580px;height: 35px;padding: 0 5px;line-height: 35px;font-size: 14px;color: #666;border: 1px solid #eee;}
.select_md{width: 280px;margin-right: 18px;height: 35px;padding: 0 5px;line-height: 35px;font-size: 14px;color: #666;border: 1px solid #eee;margin-bottom: 20px;}
.btn_sign{text-align: center;text-decoration: none;display: block;width: 582px;height: 40px;line-height: 40px;font-size: 14px;color: #FFFFFF;background-color: #edae49;transition: all 150ms ease;margin-bottom: 20px;}
.btn_sign:hover{text-decoration: none;background-color: #f47857;}
.summary{position: absolute;right: 0;top: 40px;}
.summary .summary_warp{width: 280px;border: 1px solid #eee;padding-bottom: 10px;}
.summary .summary_warp .summary_title{width: 100%;height: 40px;font-size: 16px;text-align: center;line-height: 40px;color: #FFFFFF;background-color: #808080;}
.summary .summary_warp .summary_total{width: 100%;}
.summary .summary_warp .summary_total li{width: 90%;margin: 0 auto;height: 55px;line-height: 55px;font-size: 14px;text-align: left;border-bottom: 1px solid #eee;}
.summary .summary_warp .summary_total li:last-child{border-bottom: none;}
.summary .summary_warp .summary_total li p{color: #f47857;}
.summary .summary_warp .summary_total li .strong{font-weight: bold;color: #7ab9de;}
.summary .summary_info{margin-top: 20px;}
.summary .summary_info p{font-size: 14px;}
.summary .summary_info p span.tel{font-size: 24px;font-weight: bold;}
