@font-face {
	font-family: "Apercu";
	src: url(//f.fontdeck.com/f/1/NV83WVdQUHQAAhrh5plRfQN91vi3SizZsEGgb0J3fRmnEJRRz5SACooJZP4txn3vFGsVHDlUguS5kZUo2TStM5417nXb84EjZcfXczYiop+MoA.eot);
	src: url(//f.fontdeck.com/f/1/NV83WVdQUHQAAhrh5plRfQN91vi3SizZsEGgb0J3fRmnEJRRz5SACooJZP4txn3vFGsVHDlUguS5kZUo2TStM5417nXb84EjZcfXczYiop+MoA.eot?#iefix) format("embedded-opentype"), url(//f.fontdeck.com/f/1/NV83WVdQUHQAAhrh5plRfQN91vi3SizZsEGgb0J3fRmnEJRRz5SACooJZP4txn3vFGsVHDlUguS5kZUo2TStM5417nXb84EjZcfXczYiop+MoA.woff) format("woff"), url(//f.fontdeck.com/f/1/NV83WVdQUHQAAhrh5plRfQN91vi3SizZsEGgb0J3fRmnEJRRz5SACooJZP4txn3vFGsVHDlUguS5kZUo2TStM5417nXb84EjZcfXczYiop+MoA.ttf) format("truetype");
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: "Apercu";
	src: url(//f.fontdeck.com/f/1/Z3VrYXV5ZVYAArm1wrjvrtM+9lTIeu/kgnsnhqBooP76fK9HtQFrxBP6p91Wuj334DTbN23Q/ud+XJNZz5ROd4U+y2Ei/GBYGQWbRMEbP1n+Ag.eot);
	src: url(//f.fontdeck.com/f/1/Z3VrYXV5ZVYAArm1wrjvrtM+9lTIeu/kgnsnhqBooP76fK9HtQFrxBP6p91Wuj334DTbN23Q/ud+XJNZz5ROd4U+y2Ei/GBYGQWbRMEbP1n+Ag.eot?#iefix) format("embedded-opentype"), url(//f.fontdeck.com/f/1/Z3VrYXV5ZVYAArm1wrjvrtM+9lTIeu/kgnsnhqBooP76fK9HtQFrxBP6p91Wuj334DTbN23Q/ud+XJNZz5ROd4U+y2Ei/GBYGQWbRMEbP1n+Ag.woff) format("woff"), url(//f.fontdeck.com/f/1/Z3VrYXV5ZVYAArm1wrjvrtM+9lTIeu/kgnsnhqBooP76fK9HtQFrxBP6p91Wuj334DTbN23Q/ud+XJNZz5ROd4U+y2Ei/GBYGQWbRMEbP1n+Ag.ttf) format("truetype");
	font-weight: 200;
	font-style: normal
}
@font-face {
	font-family: "Apercu";
	src: url(//f.fontdeck.com/f/1/N2Ezdm5FSi0AAqDnvZS1lWVcnpJei0SeTDPXGpdM1mP3UIMI4CttTlw0e4ntRxeZeU0zVnaMxHlrOZ4lPQSaju2WaV42nQevIrzWuzE6xV/8BA.eot);
	src: url(//f.fontdeck.com/f/1/N2Ezdm5FSi0AAqDnvZS1lWVcnpJei0SeTDPXGpdM1mP3UIMI4CttTlw0e4ntRxeZeU0zVnaMxHlrOZ4lPQSaju2WaV42nQevIrzWuzE6xV/8BA.eot?#iefix) format("embedded-opentype"), url(//f.fontdeck.com/f/1/N2Ezdm5FSi0AAqDnvZS1lWVcnpJei0SeTDPXGpdM1mP3UIMI4CttTlw0e4ntRxeZeU0zVnaMxHlrOZ4lPQSaju2WaV42nQevIrzWuzE6xV/8BA.woff) format("woff"), url(//f.fontdeck.com/f/1/N2Ezdm5FSi0AAqDnvZS1lWVcnpJei0SeTDPXGpdM1mP3UIMI4CttTlw0e4ntRxeZeU0zVnaMxHlrOZ4lPQSaju2WaV42nQevIrzWuzE6xV/8BA.ttf) format("truetype");
	font-weight: 600;
	font-style: normal
}
@font-face {
	font-family: "Apercu";
	src: url(//f.fontdeck.com/f/1/Sm1fRk1UcHcAAhpgTkSsNg3miXbEHZxhuu6WsxgfKWVrf4Z+CiMk+shX8acX4IgtW1Y+39Bd4yzu8ojatcTCBludbtJcsFYhw/bDGTNME1Q80w.eot);
	src: url(//f.fontdeck.com/f/1/Sm1fRk1UcHcAAhpgTkSsNg3miXbEHZxhuu6WsxgfKWVrf4Z+CiMk+shX8acX4IgtW1Y+39Bd4yzu8ojatcTCBludbtJcsFYhw/bDGTNME1Q80w.eot?#iefix) format("embedded-opentype"), url(//f.fontdeck.com/f/1/Sm1fRk1UcHcAAhpgTkSsNg3miXbEHZxhuu6WsxgfKWVrf4Z+CiMk+shX8acX4IgtW1Y+39Bd4yzu8ojatcTCBludbtJcsFYhw/bDGTNME1Q80w.woff) format("woff"), url(//f.fontdeck.com/f/1/Sm1fRk1UcHcAAhpgTkSsNg3miXbEHZxhuu6WsxgfKWVrf4Z+CiMk+shX8acX4IgtW1Y+39Bd4yzu8ojatcTCBludbtJcsFYhw/bDGTNME1Q80w.ttf) format("truetype");
	font-weight: bold;
	font-style: normal
}