@charset "utf-8";
/* CSS Document */

#example {
	margin-top: 20px;
	margin-left: 50px;
	width:900px;
	height:453px;
	position:relative;
}

#slides {
	position:absolute;
	top:0px;
	left:0px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:900px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:900px;
	height:453px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:185px;
	left:-9px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:870px;
}

/*
	Pagination
*/

.pagination {
	width:100px;
	float:right;
	margin-top:-50px;
	z-index:700;
	position:absolute;
	left:800px;
	bottom:15px;
}

.pagination li {
	float:left;
	margin:0 2px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:14px;
	height:0;
	padding-top:20px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -19px;
}



