 @charset "utf-8";
/* CSS Document */
/* 通用属性 */
* { margin:0; padding:0; list-style:none; }
body { font-family:"微软雅黑"; margin:20px 0 20px 0; color:#666; font-size:12px; background:#EAEAEA; }
#main_out { background:#FFF; padding:0 5px; width:1000px; margin:0 auto; }
.float_clear { clear:both; }
.float_left { float:left; }
.float_right { float:right; }
.display_none { display:none; }
img { border:none; }
.red { color:red; }
.must_input { font-weight:bold; color:red; }
.green { color:green; }
.blue { color:blue; }
.gray { color:gray; }
.purple { color:purple; }
.clear { clear:both; }
.highlight { color:#FFF; background:red; padding:1px; }
a { text-decoration:none; color:#666; }
a:hover { text-decoration:none; color:#eb3d00; }
p { line-height:22px; }
/* 顶部 */
#top_menu_main { background:url(../img/top_menu_bg.jpg) repeat-x; height:27px;}
#top_menu { height:27px; line-height:27px; text-align:right; width:980px; margin:0 auto; }
#top_menu a { color:#000; font-weight:bold; color:#999; }
#top_main { }
#top { width:900px; height:52px; margin:0 auto; padding:22px 0 30px 0; border-bottom:#eb3d00 1px solid; }
#top_logo { float:left; width:313px; height:45px; margin-top:10px;}
#top_site_name { float:left; width:500px; }/*头部中间*/
#top_time { height:80px; padding-top:20px; text-align:right; }
/* 导航 */
#navigation_main { height:20px; }
#navigation { width:356px; height:20px; margin:0 auto; float:right; margin-top:42px; margin-right:0px;}/*导航*/
#navigation ul #navigation_home { float:left; line-height:20px; text-align:center; }
#navigation ul .main_nav {float:left;line-height:20px; text-align:center; background:url(../img/navigation_li_bg.jpg) right no-repeat; padding-left:2px; }/*中线*/
#navigation ul li a { width:56px; display:block; font-size:16px; color:#666; }
#navigation ul li a:hover { font-size:16px; text-decoration:none; color:#CCC; }
/*导航栏下拉*/
#navigation ul li ul { display:none; position:absolute; background:#276A09; padding:2px 0; border:1px solid #FFF; }
#navigation ul li ul li { line-height:20px; }
#navigation ul li ul li a { font-weight:normal; color:#FFF; font-size:12px; }
#navigation ul li ul li a:hover { text-decoration:underline; background:none; font-size:12px; color:#FFF; }
a.now { color:#eb3d00; }
/* 当前位置 */
.current_location { width:900px; margin:0 auto; height:26px; line-height:26px; color:#999; }
.current_location a { color:#999; }
.current_location .current_channel { font-weight:bold; color:#900; }
/* 幻灯 */
#banner_main { }
#banner { width:900px; margin:0 auto; margin-top:20px; margin-bottom:20px; }
#banner img { width:900px; }
/* 主体 */
#content_main { }
#content_title { display:none; }
#content_body { width:900px; margin:10px auto; }
#content_bottom { display:none; }
/*6图*/

.in6 { width:600px; float:right; margin:20px 0 0px 0;*margin:20px 0 30px 0; border:#F00 solid 0px; }
.in6 ul { }
.in6 ul li { width:180px; height:145px; overflow:hidden; float:left; }
.in6_1 { margin:0 0px 30px 20px; }
.in6_1 a { width:180px; height:145px; display:block; }
.poloroid { position: relative; border:1px solid #E5E5E5; width:180px; height:145px; display: block; float:left; margin-right:10px; background-color:#fff; }
.image { position: absolute; width:180px; height:145px; }
.overlay { position:absolute; width:180px; height:145px; background-color:#666; z-index:1; }
.overlay h2 { color:#fff;font-family:"微软雅黑";  font-size:14px; font-weight:normal; width:16px;  margin:0px; margin-left:10px; margin-top:28px; margin-bottom:5px; line-height:23px; }
/*右侧新闻*/
.right_news { width:280px; float:left; margin:21px 0 0 0; }
#right_slide_content { height:30px; font-size:16px; }
#slide_content_a { border-top:#eb3d00 1px solid; padding-top:10px; margin-top:4px; }
.right_newslist li { line-height:28px; font-size:12px; }
/*主体左侧*/
#left { float:left; width:180px; }
.left_title { height:36px; line-height:36px; }
.left_title h2 { font-size:14px; color:#000; line-height:36px; }
.left_title a { color:#000; }
.left_body { overflow:hidden; zoom:1; }
.left_body .form_text { width:120px; }
.left_body .form_textarea { width:120px; }
.left_bottom { height:10px; }
/*主体右侧*/
#right { float:right; width:700px; }
#right2 { float:left; width:900px; }
.right_title { height:28px; line-height:28px; padding:0 10px; }
.right_title h2 { font-size:14px; color:#000; }
.right_body { padding:10px; overflow:hidden; zoom:1; border-top:none; line-height:22px;}
.right_bottom { height:10px; }
/* 友情链接 */
#link_main { }
#link_title { width:882px; margin:0 auto; border:1px solid #B3D3A2; height:28px; line-height:28px; padding:0 9px; background:url(../img/right_title_bg.jpg) repeat-x; }
#link_title a { color:#276A09; }
#link_title h2 { font-size:14px; color:#276A09; }
#link_body { width:882px; margin:0 auto; border:1px solid #B3D3A2; border-top:none; padding:9px; }
#link_pic { overflow:auto; zoom:1; }
#link_pic ul li { float:left; padding:1px 3px; text-align:center; }
#link_pic img { width:90px; height:30px; padding:2px; border:1px solid #CCC; }
#link_pic ul li a:hover img { border:1px solid #6C9ACC; }
#link_text { overflow:auto; zoom:1; }
#link_text ul li { float:left; text-align:center; padding:1px; }
#link_text a { display:block; line-height:22px; width:100px; background:#EDEDED; }
/* 底部导航 */
#bottom_navigation { width:900px; margin:5px auto; height:26px; line-height:26px; background:#EFF3D9; border:1px solid #A6CC93; text-align:center; }
#bottom_navigation a { color:#333333; }
/* 版权信息 */
#copyright_main { }
#copyright { width:900px; margin:10px auto; padding:10px 0; border-top:1px solid #eb3d00; }
.link { margin:10px 0 0 0;font-size:10px;}
.link a{ margin:0 7px 0 7px;font-size:10px; }
/* 留言 */
	.guestbook_main { padding:10px; border:1px solid #CCC; margin-bottom:10px; }
.guestbook_title { color:#227BAD; line-height:30px; font-weight:bold; border-bottom:1px dashed #227BAD; }
.guestbook_intro { line-height:30px; text-align:right; }
.guestbook_content { padding:5px; border:1px dashed #CCC; margin-bottom:10px; }
.guestbook_answer { padding:5px; border:1px solid #CCC; }
.guestbook_answer h2 { color:red; line-height:20px; font-size:12px; }
/*左侧通用列表*/
.ul_left_common li { line-height:26px; border-bottom:1px dashed #CCC; padding-left:15px; background:url(../img/ul_left_common.gif) left no-repeat; }
/*产品列表*/
.productslist li { float:left; text-align:left; padding:13px; }
.productslist li img { width:144px; height:144px; }
.productslist li a { line-height:22px; }
.productslist li a:hover img { }
.productslist_detail { }
.productslist_detail_layout { border-collapse:collapse; width:100%; margin-bottom:10px; }
.productslist_detail_pic { padding:4px; border:1px solid #999999; width:160px; height:120px; float:left; margin-right:10px; }
.productslist_detail a:hover .productslist_detail_pic { border:1px solid #cc0000; }
.productslist_detail_title { font-size:14px; line-height:26px; border-bottom:1px dashed #999; background:url(../img/productslist.gif) left no-repeat; padding-left:15px; }
.productslist_detail_content { }
.productslist_detail_intro { text-align:right; color:#999; border-top:1px dashed #999; margin-bottom:10px; line-height:26px; }
.productslist_detail_intro a { color:#999; }
/*推荐产品列表*/
	.dropList dl dt { line-height:26px; border-bottom:1px dashed #CCC; padding-left:15px; background:url(../img/ul_left_common.gif) left no-repeat; }
.dropList dl dd { }
.dropList dl dd img { padding:4px; border:1px solid #999999; width:206px; margin-top:3px; }
.dropList dl dd a:hover img { border:1px solid #cc0000; }
/*下载列表*/
	.downloadlist li { line-height:30px; border-bottom:1px dashed #999; background:url(../img/downloadlist.gif) left no-repeat; padding-left:15px; }
.downloadlist_detail { }
.downloadlist_detail_layout { border-collapse:collapse; width:100%; margin-bottom:10px; }
.downloadlist_detail_pic { padding:4px; border:1px solid #999999; width:140px; height:105px; float:left; margin-right:10px; }
.downloadlist_detail a:hover .downloadlist_detail_pic { border:1px solid #cc0000; }
.downloadlist_detail_title { font-size:14px; line-height:26px; border-bottom:1px dashed #999; background:url(../img/downloadlist.gif) left no-repeat; padding-left:15px; }
.downloadlist_detail_content { }
.downloadlist_detail_intro { text-align:right; color:#999; border-top:1px dashed #999; margin-bottom:10px; line-height:26px; }
.downloadlist_detail_intro a { color:#999; }
/*案例列表*/
	.caselist li { line-height:30px; border-bottom:1px dashed #999; background:url(../img/caselist.gif) left no-repeat; padding-left:10px; }
.caselist_detail { }
.caselist_detail_layout { border-collapse:collapse; width:100%; margin-bottom:10px; }
.caselist_detail_pic { padding:4px; border:1px solid #999999; width:160px; height:120px; float:left; margin-right:10px; }
.caselist_detail a:hover .caselist_detail_pic { border:1px solid #cc0000; }
.caselist_detail_title { font-size:14px; line-height:26px; border-bottom:1px dashed #999; background:url(../img/caselist.gif) left no-repeat; padding-left:10px; }
.caselist_detail_content { }
.caselist_detail_intro { text-align:right; color:#999; border-top:1px dashed #999; margin-bottom:10px; line-height:26px; }
.caselist_detail_intro a { color:#999; }
/*新闻列表*/
.newslist li { line-height:36px; border-bottom:1px dashed #ccc; padding-left:15px; background:url(../img/newslist.jpg) left no-repeat; }
.newslist_detail { }
.newslist_detail_title { font-size:14px; line-height:26px; border-bottom:1px dashed #999; padding-left:15px; background:url(../img/newslist.jpg) left no-repeat; }
.newslist_detail_content { padding:5px; }
.newslist_detail_intro { text-align:right; color:#999; border-top:1px dashed #999; margin-bottom:10px; line-height:26px; }
.newslist_detail_intro a { color:#999; }
/*公告列表*/
	.noticelist li { line-height:26px; border-bottom:1px dashed #CCC; padding-left:10px; background:url(../img/noticelist.gif) left no-repeat; }
/*评论列表*/
	.commentlist { }
.commentlist dt { line-height:22px; border:1px dashed #CCC; padding:0 10px; background:#F5F5F5; }
.commentlist dd { padding:10px; border:1px dashed #CCC; border-top:none; margin-bottom:5px; }
.searchlist li { line-height:30px; border-bottom:1px dashed #999; }
/*分类列表 - 无限级分类*/
/*案例*/
.channel_list_infinite { }
.channel_list_infinite li { line-height:34px; font-size:14px; background:url(../img/newslist.jpg) left no-repeat; padding-left:13px; }
.channel_list_infinite li a { display:block; }
.channel_list_infinite li a:hover { color:#a1241d; text-decoration:none; }
.channel_list_infinite #current_channel_infinite a { color:#000; }
.channel_level1 { font-size:12px; }
.channel_level2 { font-size:12px; }
.channel_level3 { font-size:12px; }
/*分类列表 - 递推一级分类*/
/*火狼*/
.channel_list_recursion { }
.channel_list_recursion li { line-height:34px; font-size:14px; background:url(../img/newslist.jpg) left no-repeat; padding-left:13px; }
.channel_list_recursion li a { display:block; }
.channel_list_recursion li a:hover { color:#eb3d00; text-decoration:none; }
.channel_list_recursion #current_channel_recursion a { color:#000; }
/*信息详情页*/
#info_name { font-size:16px; font-weight:normal; color:#eb3d00; text-align:left; line-height:40px; }
#info_intro { padding:0 10px; text-align:right; color:#999; border:1px solid #E4DDB4; line-height:30px; background:#F6F1E3; }
#info_intro a { color:#999; }
#info_content { padding:10px 0; }
#info_extra { padding:10px 0; }
#info_pic { width:240px; }
#info_around { padding:5px; background:#EFF3D9; border:1px solid #A6CC93; }
#info_comment { text-align:right; }
/*无缝滚动*/
#scrollleft {overflow:hidden; width:100%; }
#scrollleft .scrollmain {float:left; width:1000%; }
#scroll_a { float:left;}
#scroll_b { float:left;}
/*滑动门*/
#slide_navigation { overflow: hidden; zoom:1; }
#slide_navigation li { height:28px; float:left; line-height:28px; padding:0 1px; }
#slide_navigation li a { display:block; padding:0 10px; text-align:center; font-size:14px; color:#276A09; font-weight:bold; }
#slide_navigation li a:hover { text-decoration:none; color:#FFF; background:#276A09; }
#slide_navigation li .slide_current { color:#FFF; background:#276A09; }
#slide_content { }
#sitemap li { padding:1px; }
#sitemap li a { background:#EFF3D9; line-height:22px; display:block; padding:0 20px; border:1px solid #A6CC93; }
#sitemap li a:hover { text-decoration:none; background:#FFF; }
/*表单相关*/
	input { }
.form_text { font-size:12px; border:1px solid #CCC; height:26px; line-height:26px; padding:0 5px; width:500px; }
.form_text_verifycode { font-size:12px; border:1px solid #CCC; height:26px; line-height:26px; padding:0 5px; width:50px; }
#form_text_search { border:1px solid #CCC; height:24px; line-height:24px; padding:0 5px; width:135px; }
#form_submit_search { width:60px; height:26px; border:1px solid #CCCCCC; background:#FFF; }
.form_select { font-size:12px; border:1px solid #CCC; }
.form_textarea { font-size:12px; width:500px; height:80px; padding:5px; border:1px solid #CCC; }
.form_checkbox { }
.form_submit { background:url(../img/submit_button.jpg) no-repeat; width:79px; height:31px; border:none; color:#FFF; font-weight:bold; }
.form_file { font-size:12px; padding:3px 5px; border:1px solid #CCC; background:#FFF; }
.common_form { }
.common_form li { padding:2px; overflow: auto; zoom:1; }
.common_form label { float:left; width:80px; display:block; height:28px; line-height:28px; }
/*表格*/
.layout_table { border-collapse:collapse; width:100%; }
.common_table { border-collapse:collapse; width:100%; }
.common_table td { padding:5px; border:1px solid #DBDBDB; }
.common_table th { text-align:center; border:1px solid #DBDBDB; }
/* 漂浮的客服 */
#online_support_main { z-index:9999; left:-163px; width:197px; position:absolute }
#online_support { display:block; overflow:hidden; width:197px; zoom: 1; }
#online_support_content { display: inline; float: left; overflow: hidden; width: 163px; zoom: 1 }
#online_support_title { height:34px; background:url(../img/online_support_title.jpg) no-repeat; }
#online_support_body { min-height:100px; background:url(../img/online_support_body.jpg) repeat-y; padding:10px; text-align:center; }
#online_support_bottom { height:20px; background:url(../img/online_support_bottom.jpg) no-repeat; }
#online_support_button { display:inline; background:url(../img/online_support_button.jpg) no-repeat; float:right; margin-top:33px; width:34px; height:96px }
/*分页样式*/
#pages { padding:40px 0px 10px; text-align:right; clear:both; }
#pages a { display:inline-block; padding:0px 6px; height:22px; border:#E4E4E4 solid 1px; cursor:pointer; margin:0 5px; font-size:12px; line-height:22px; text-align:center; color:#333; }
#pages a.a1 { padding:0px 6px; height:22px; line-height:22px; margin-top:0px; }
#pages a:hover { color:#900; text-decoration:none; background:#EEE; }
#pages span { display:inline-block; padding:0px 6px; margin:0 5px; height:22px; border:#CCC solid 1px; background:#D1D1D1; line-height:22px; color:#900; text-align:center; }
