	
.personLeftNav .tit:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "\20 ";
	clear: both;
	height: 0
}

.f-fw {
	font-weight: 700
}

.f-wsn {
	word-wrap: normal;
	white-space: nowrap
}

.f-tal {
	text-align: left!important
}

.f-tac {
	text-align: center!important
}

.w-icon-arr {
	position: absolute;
	right: 15px;
	top: 18px;
	width: 10px;
	height: 10px;
	background-position: -7px -84px
}

.expanded .w-icon-arr {
	background-position: -7px -123px
}

.w-icon-disc {
	zoom: 1;
	font-size: 30px;
	color: #d22147
}

.w-icon-disc i {
	position: absolute;
	left: 0;
	top: 0;
	width: 28px;
	*width: 34px;
	text-align: center;
	line-height: 28px;
	*line-height: 26px;
	_line-height: 28px;
	color: #fff;
	font-size: 20px;
	font-style: italic;
	font-family: verdana, arial
}

.w-tit .red {
	color: #d22147;
	font-weight: 700
}

.w-tit2 {
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	padding: 0 0 5px
}

.mainWrap {
	margin: 0 auto
}
.mainWrap {
	width: 100%;
	margin: auto;
	position: relative;
	padding: 60px 0 100px 0;
	background-color: #FFFFFF;
}
.personLeftNav {
	float: left;
	width: 178px;
	border: 1px solid #eaeaea
}

.persRight {
	/*float: right;*/
	width: 100%;
	margin: 0 auto;
	border: 1px solid #eaeaea;
	min-height: 500px;
	_height: 500px
}

.personLeftNav .tit {
	position: relative;
	zoom: 1;
	padding: 0 10px 0 16px;
	height: 46px;
	font-size: 16px;
	line-height: 46px;
	font-weight: 700;
	border-top: 1px solid #eaeaea;
	cursor: pointer
}

.personLeftNav .first .tit {
	border-top: 0
}

.personLeftNav .leaf {
	font-size: 14px;
	line-height: 28px
}

.personLeftNav .leaf a,
.personLeftNav .leaf a:hover {
	color: #333;
	text-decoration: none
}

.personLeftNav .leaf a:hover {
	color: #d22147
}

.personLeftNav .leaf .active {
	color: #d22147;
	font-weight: 700
}

.personLeftNav .subnav {
	padding: 12px 0 12px 16px;
	border-top: 1px solid #eaeaea
}

.personLeftNav .collapsed .subnav {
	display: none
}

.helpRH2 {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 56px;
	padding: 0 20px;
	border-bottom: 1px solid #eee
}

.helpRightBox {
	padding: 32px 0 0;
	font-size: 12px;
	line-height: 28px
}

.helpRightBox a {
	text-decoration: underline
}

.helpRightBox .para .sitemap {
	text-decoration: none
}
.helpRightBox .para {
	margin-bottom: 30px
}

.helpRightBox ol {
	padding-left: 25px
}

.helpRightBox ol li {
	list-style: decimal
}

.helpRightBox ul li {
	list-style: none
}

.helpRightBox .bg {
	padding: 30px 0;
	background: #f7f7f7;
	border-top: 1px solid #eaeaea
}

.w-table {
	width: 100%;
	border-collapse: collapse
}

.w-table td,
.w-table th {
	border: 1px solid #eaeaea;
	padding: 10px 20px;
	text-align: left
}

.w-table th {
	/*white-space: nowrap;*/
	background: #f7f7f7;
	color: #666;
	font-weight: 700
}

.w-table-1 td,
.w-table-1 th {
	text-align: center
}

.helpRightBox hr {
	width: 100%;
	height: 1px;
	background: #eaeaea;
	border: 0;
	color: #eaeaea;
	margin: 30px 0
}

.helpRightBox .red {
	color: #d22147
}

.m-taxtbl {
	padding: 0
}

.m-taxtbl .w-tit {
	margin-right: 20px;
	line-height: 20px;
	margin-top: 10px;
	font-size: 16px;
}

.m-taxtbl .stat {
	color: #999
}
.f-fl{
	float: left;
}
.f-cb{
	zoom: 0;
}
.f-cb:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "\20 ";
    clear: both;
    height: 0;
}
.m-taxtbl .tablebox {
	border-top: 1px solid #eaeaea;
	padding: 35px 0
}

.m-taxtbl .subtlt {
	margin: 0 20px;
	font-weight: 700;
	font-size: 14px;
	color: #333
}

.m-taxtbl .subth th {
	font-size: 12px
}

.m-taxtbl .desc {
	color: #666
}

.m-taxtbl .remark {
	color: #999
}

.m-taxtbl table {
	margin-top: 10px;
	color: #666
}

.m-taxtbl table td,
.m-taxtbl table th {
	text-align: center
}

.m-taxtbl .w-table-1 td,
.m-taxtbl .w-table-1 th {
	padding: 5px 10px;
	/*white-space: nowrap*/
}