@charset "utf-8";
.baison-base {z-index:9999;position: fixed;width:482px; height:218px; background-color:#fff; position:absolute; left:50%;margin-left:-241px;top:50%;z-index:99999;visibility: hidden;_position:absolute;_top: expression(documentElement.scrollTop);margin-top:-109px; }		
.baison-base.baison-visible {visibility: visible;}
	.baison-base .dialog { position: absolute;left:50%; width:100%; height:218px; margin-left:-50%; box-sizing:border-box;-webkit-box-sizing:border-box; background-color:#fff;height:218px; border:5px solid #aaa;}
		.baison-base .dialog-inner{ width:100%;margin-top:45px;}
		.dialog-inner .inner-inner{overflow:hidden; position:relative; background-color:#fff;}
			.dialog-title{ height:0px;display:none;} 
			.dialog-con{ text-align:center;font-size:20px;line-height:25px;}
			.dialog-con .content{ margin-top:20px;font-size:18px;}
.inner-inner .dialog-buttons{ text-align:center;}
.dialog-buttons .button { text-align:center; margin-top:40px; font-size:20px;  background:url(../images/sureBg.jpg) no-repeat; width:138px; height:41px; line-height:39px; color:#fff;display:inline-block;}
.dialog-buttons .cancel{ text-align:center; float:right; margin-right:50px; margin-top:40px; font-size:20px; background:url(../images/cancel.jpg) no-repeat; width:138px; height:41px; line-height:39px; color:#a8a8a8;}
.dialog-buttons .ok{ text-align:center; float:left; margin-left:50px; margin-top:40px; font-size:20px; background:url(../images/sureBg.jpg) no-repeat; width:138px; height:41px; line-height:39px; color:#fff;}
/*商品详情*/
.goodsinfo_box{ position:absolute;right:0;top:0;left:140px;z-index:120;background-color:#fff;overflow-y:scroll;  height:990px;}
.goods_detail{ width:1790px; position:absolute;right:0}
	.left_btn{ position:fixed;width:49px;background:url(../images/border_bg.png) right top repeat-y;z-index:999999;}
	.left_btn a img{ position:absolute; top:50%; margin-top:-49px;}
	.goods_detail_content{ margin-left:49px;background-color:#fff;position:absolute;right:0}
	.right_tab{ position:fixed;width:48px;right:0;border-left:1px solid #dce1e6;bottom:-5px;background-color:#fff;z-index:9999; top:0}
		.tab_box{ position:absolute;bottom:0;}
		.tab_box .tabTitle a{ display:inline-block;height:70px;border-top:1px solid #dce1e6;width:48px;word-wrap:break-word;letter-spacing:10px;text-align:center;font-size:18px;padding:20px 0 20px 5px;display:inline-block;}
		.tab_box .tabTitle a span{ font-size:16px;letter-spacing:1px;margin-left:-8px;display:inline-block;width:48px;}
		.tab_box .tabTitle a em{ color:#ff0066;}
		.tab_box .tabTitle a:nth-child(6){ padding:2px 0;padding-left:5px;}
		.tab_box .tabTitle a i{ width:21px;height:21px;display:inline-block;background:url(../images/cart.png) no-repeat;position:relative;left:-5px;text-align:center;}
		.tab_box .tabTitle a i em{ display:inline-block;width:16px;height:16px;border-radius:8px;background-color:#ff0066;color:#fff;font-size:12px;position:absolute;top:-13px;right:3px;text-align:center;letter-spacing:0px;}
		.tab_box .tabTitle .current{ background-color:#ff0066;color:#fff;}
		.tab_box .tabTitle .current em{ color:#fff;}
		.tab_box .tabTitle .current span{ background-color:#ff0066;margin-left:-10px;}
		.tab_box .tabTitle .current:nth-child(6){ padding-bottom:3px;}
	.goods_detail_content .good_detail{ }
		.good_detail .goods_title{ height:128px;text-align:center;border-bottom:1px solid #dce1e6;line-height:128px;font-size:36px;width:1693px;}
		.good_detail .detail_content{ margin:16px 0 15px 30px;width:1512px;}
		.good_detail .goods_info{ border:2px solid #dce1e6;color:#5d5d5d;}
		.good_detail .goods_info ul{ margin:30px;}
		.good_detail .goods_info li{ float:left;width:33.3%;}
		.good_detail .goods_info li p{ line-height:38px;font-size:16px;}

.goodsDetailsBox{ width:100%;}
	.detailsLeft{ width:705px; border:2px solid #dcdcdc;background-color:#fff; }
		.goodsMainPic{ margin-bottom:16px;margin-top:20px;width:530px;margin-left:87.5px;}
			.picList{ width:530px;margin-left:87.5px;margin-bottom:15px;}
			.picList li {  float:left; margin-right:10px;}
			.picList li a{ display:block; border:2px solid #fff;}
			.picList li a img{ display:block; border:2px solid #fff;}
			.picList li a:hover, .picList li a:hover img, .picList li.current a, .picList li.current a img{ border:2px solid #e3e6ea;  }
	/*---放大镜--*/
	.jqZoomPup { z-index: 999; visibility: hidden; position: absolute; top:0px; left:0px; width:50px; height:50px;background-color: #ffffff;opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5; filter: alpha(Opacity=50); } 
	
	.detailRight{ width:712px;}
		.detail_txt{  border-bottom:1px solid #c7bcc0;border-top:1px solid #c7bcc0; }
		.detail_txt>div{ width:33.2%;text-align:center;height:25px;font-size:18px;line-height:25px; }
		.detail_txt .detail_score{ border-right:0;}
		.detail_price{ border-right:1px solid #b2b2b2;color:#7b7b7b;}
		
	.detailRight .info_of_goods>div{ font-size:18px;}
	.detailRight .info_of_goods label{ display:inline-block;width:110px;color:#7b7b7b;}
	.detailRight .info_of_goods>div del{ color:#7b7b7b;}
		.info_of_goods .hot_price{ color:#ff0066;font-size:30px;}
		.info_of_goods .hot_price em{ color:#ff0066;font-size:48px;}
		.info_of_goods .activeo_select{ height:19px;line-height:19px;font-size:14px;background:#f47a86 url(../images/active_bg1.png) no-repeat left; cursor:pointer;padding-left:8px;position:relative;top:8px;display:inline-block;color:#fff;width:auto;}
		.info_of_goods .activeo_select span{ width:25px; height:19px; background:url(../images/active_down.png) no-repeat; float:right;}
	.detailRight .warm_tip{ line-height:23px;overflow:hidden;}
	
		.info_of_goods .sleBG{ width:78px;height:28px;line-height:28px;background:url(../images/black_arrowdown.png) right center no-repeat;display:inline-block;position:relative;top:7px;}
		.info_of_goods .sleHid{ display:inline-block;width:60px;overflow:hidden;}
		.info_of_goods .local_select{ width:80px;height:28px;background:none;border:none;font-size:18px;line-height:28px;}
/*下拉框*/
.bomb_con_style{ background-color:#fff; position:absolute; left:0;z-index:999999; cursor:pointer;overflow-y:scroll;max-height:155px;top:30px;width:180px;}
.bomb_con_style dd{ background-color:#f4f4f4;height:25px;margin-top:1px;line-height:25px;color:#8e8e8e;font-size:14px;padding-left:8px;}
.bomb_con_style dd:hover{ background-color:#e6e6e6;}		
		
	/*颜色尺码*/
	.goodsColor{ margin:28px 0px 28px;}
		.goodsColor dt{ margin-top:20px; margin-right:33px; font-size:18px;color:#7b7b7b;}
		.goodsColor a{  height:52px; width:52px;line-height:52px;  margin-right:15px; padding:1px; border:1px solid #d0d0d0; display:inline-block; background-color:#FFF; float:left;position:relative;text-align:center;font-size:14px;}
		.goodsColor a.current { border: 2px solid #ff0066; padding: 0;}	
		.goodsColor a.current span{background:url(../images/select.png) right bottom no-repeat;width:49px;height:49px;position:absolute;left:0;top:0;padding:2px;}	
	.goodsSize{ margin:26px 0px 44px;}
		.goodsSize dt{ margin-top:10px; margin-right:33px; font-size:18px;color:#7b7b7b;}
		.goodsSize a{  height:30px;line-height:30px;  margin-right:15px; padding:1px; border:1px solid #d0d0d0; display:inline-block; background-color:#FFF; float:left;position:relative;font-size:18px;text-align:center;}
		.goodsSize a span{ margin:0 6px;}
		.goodsSize a:hover,.goodsSize a.current { border: 2px solid #ff0066; padding:0;background:url(../images/select2.png) right 20px no-repeat;}	
		.goodsColor .no_exist,.goodsSize .no_exist{background-color:#f5f5f5;opacity: 0.5; filter: alpha(opacity=50); color:#999; cursor:default;}
	.goodsNum{ margin:44px 0px 62px;}
		.goodsNum .f18{  margin-right:33px;color:#7b7b7b;margin-top:7px;}
		.goodsNum .ml25{ margin-top:7px;font-size:18px;color:#7b7b7b;}
	.goodsColor .no_exist,.goodsSize .no_exist{background-color:#f5f5f5;opacity: 0.5; filter: alpha(opacity=50); color:#999; cursor:default;}

		.choose_box a.subtract{ height:32px; width:32px; background:url(../images/subtract.png);}
			.choose_box a.plus{ height:32px; width:32px; background:url(../images/plus.png);}
			.choose_box input{ width:62px; height:30px; line-height:30px; border:1px solid #d0d0d0; text-align:center;font-size:24px;}
		
	.buy_btn a{ display:inline-block;width:240px;height:60px;color:#fff;font-size:30px;border-radius:5px;text-align:center;line-height:60px;}
	.buy_btn .buy_now{ background-color:#ff0066;margin-right:54px;}
	.buy_btn .add_cart{ background-color:#faa046;}
	.buy_btn .no_goods{ background-color:#f0f0f0;}
	.buy_btn .buy_bycode{ position:absolute;width:127px;height:157px;border-radius:6px;background-color:#fd2c72;display:inline;margin-left:45px;text-align:center;box-shadow:2px 3px 2px 3px #c8c8c8;top:-100px;}
		.buy_bycode span{ display:inline-block;color:#fff;font-size:18px;height:42px;line-height:45px;}
		.buy_bycode a{ display:inline-block;width:111px;height:106px;background-color:#fff;border-radius:0 0 6px 6px;}
		.buy_bycode a img{ margin-top:6px;}
		
.goods_info .pic p{line-height:0;}		
		
.stayTab {position: fixed; top: 0;z-index: 9999; background-color:#fff;width:1693px;}
/*购物评价*/		
.good_detail .shopping_comment{ margin:40px auto 40px auto;width:1300px;}
	.comment_summary{ border:1px solid #cecece;padding:15px 0 15px 15px;}
	.comment_summary .summary_score{ width:192px;border-right:1px solid #e8e8e8;text-align:center;}
		.summary_score .f18{ color:#575555;}
		.summary_score .wordPink{ font-size:60px;line-height:60px;}
		.summary_score p em{ display:inline-block;width:18px;height:16px;background:url(../images/star.png);}
		.summary_score p em.good{ background:url(../images/star_ok.png);}
	.comment_summary .portrait{ width:16px;word-wrap:break-word;letter-spacing:10px;text-align:center;font-size:16px;padding:0 40px;margin-top:4px;color:#b2b2b2;}
	.comment_summary .comment_tag{ margin:12px;}
		.comment_tag .tag_content a{ display:inline-block;width:143px;height:29px;line-height:29px;text-align:center;border:1px solid #ffc5dc;border-radius:3px;margin-right:26px;color:#ff3284;font-size:16px;}
		.comment_tag .spread_arrow{ width:28px;height:28px;border:1px solid #dadada;border-radius:3px;display:inline-block;line-height:28px;margin-left:10px;background:#ededed url(../images/spread_arrow.png) center center no-repeat;}
		.comment_tag .shrink_arrow{ width:28px;height:28px;border:1px solid #dadada;border-radius:3px;display:inline-block;line-height:28px;margin-left:10px;background:#ededed url(../images/shrink_arrow.png) center center no-repeat;}
.shopping_comment .allcomment_content{ }
	.allcomment_content .commentTitle{ height:50px;line-height:50px;border-bottom:1px solid #cecece;font-size:18px;color:#727272;}
		.commentTitle a{ display:inline-block;width:147px;height:50px;text-align:center;}
		.commentTitle a.current{ border-bottom:2px solid #ff64a2;height:49px;}
		.commentTitle .have_content{ display:inline-block;width:48px;padding-left:30px;background:url(../images/select_on.png) left center no-repeat;font-size:16px;cursor:pointer;margin-right:57px;}
		.commentTitle .no_content{ background:url(../images/select_no.png) left center no-repeat;}
		.commentTitle .activeo_select{ font-size:16px;background:#efefef url(../images/arrowdown.png) 79px center no-repeat;cursor:pointer;display:inline-block;color:#727272;width:103px;height:26px;text-indent:1rem;border:1px solid #cecece;}
		.commentTitle .bomb_con_style{ background-color:#fff; position:absolute; left:140px;z-index:999999; cursor:pointer;overflow-y:scroll;max-height:155px;top:38px;text-align:center;}
	.comment_info td{ padding-bottom:33px;padding-top:42px;border-bottom:1px solid #d0d0d0;}
	.comment_info .td1{ width:142px;border-bottom:0; text-align:center;}
	.comment_info .td1 img{ display:block;width:75px;height:75px;border-radius:38px; margin:0 auto;}
	.comment_info .td1 span{ width:75px;text-align:center;display:inline-block;margin-top:8px;font-size:16px;}
	.comment_info .td2{ width:495px;}
	.comment_info .td2>div{ margin-left:60px;}
	.comment_info .td2 .colorBlack{ font-size:18px;line-height:25px;}
	.comment_info .td2 .f16{ color:#afafaf;}
	.comment_info .td2 .f16 span{ margin-right:25px;}
	.comment_info .td3{ padding-left:18px;}
	.comment_info .td3>div{ position:relative;top:-20px;}
	.comment_info .td3 img{ margin-top:4px;}
	.comment_info .td4{ font-size:18px;color:#707070;width:160px;text-align:center;}
	
	.comment_img a{ position:relative;display:inline-block; cursor:pointer;width:83px;height:83px;text-align:center;padding:1px;border:1px solid #d7d7d7;margin-right:8px;}
	.comment_img .current em{ display:inline-block;position:absolute;width:8px;height:7px;background:url(../images/red_arrow_down.png) center center no-repeat;top:83px;left:38px;}
	.comment_img .current{border:2px solid #ff64a2;padding:0;}
	.comment_img .show_bigimg a{display:inline-block;width:253px;height:331px;padding:2px;border:1px solid #d7d7d7;}
/*购物车身份证弹框*/
.discern_idcard{ width:685px; height:447px;position:absolute; right:568px; bottom:264px; z-index:999999;}
.discern_one{ width:669px;height:432px;background:url(../images/idcard1.png) left center no-repeat;margin-top:15px;}
.discern_one .close{ width:32px;height:32px;background:url(../images/close_btn.png) no-repeat;display:inline-block;position:absolute;right:0;top:0;cursor:pointer;}
.discern_two{ width:669px;height:432px;background:url(../images/idcard2.png) left center no-repeat;margin-top:15px;}
.discern_three{ width:669px;height:432px;background:url(../images/idcard3.png) left center no-repeat;margin-top:15px;}
.Bar { position: relative; width: 549px;border: 1px solid #e5e5e5; padding: 1px; margin:0 auto;top:264px;border-radius:4px;height:18px;} 
.Bar div{ display: block; position: relative;color: #333333;height: 18px;line-height: 18px;background:url(../images/bar_bg.png) repeat-x;margin:0 1px;} 
.Bar div span{ position: absolute; width: 549px;color:#fff;font-size:14px;text-align: center; font-weight: bold; } 
/*请确认收货信息弹框*/
.confirmReceive{ width:905px; height:490px; background-color:#fff; position:absolute; left:50%;margin-left:-452.5px;top:50%;margin-top:-245px; z-index:99999;}
.confirmReceive .red_tip{ width:905px; height:8px; background-color:#ff0066;position:absolute;top:0;left:0;}
.confirmReceive .sure{ text-align:center; float:left;font-size:30px;background-color:#d7d7d7; width:201px; height:62px; line-height:62px; color:#fff;border-radius:30px;}
.confirmReceive .cancel{ text-align:center; float:right;font-size:30px;background-color:#ff0066; width:201px; height:62px; line-height:62px; color:#fff;border-radius:30px;}	
.confirmReceive .f30{ margin-top:65px;margin-bottom:52px;}	
.confirmReceive .receive_info{ font-size:24px;color:#666;}	
.confirmReceive .receive_info p{ line-height:45px;}	
.confirmReceive .receive_info label{ display:inline-block;width:230px;text-align:right;}	
.confirmReceive .btn{ width:416px;height:62px;position:absolute; bottom:50px; left:250px;}
/*支付完成*/
.submitOrderOK{width:1740px; background-color:#fff; position:absolute; top:0; bottom:0px;right:0; z-index:11000;
-moz-box-shadow: 2px 2px 20px #333;/*firefox*/
-webkit-box-shadow: 2px 2px 20px #333;/*safari或chrome*/
box-shadow:2px 2px 20px #333;/*opera或ie9*/}
.submitOrderOK .tit{font-size:28px; height:110px; line-height:110px; border-bottom:2px solid #dbd9da; margin-left:36px; margin-right:36px;margin-bottom:20px;}
.submitOrderOK .tit>span{ display:inline-block;position:relative;top:-15px;}
.payOk_content .payOk_tit{ height:49px;line-height:49px;background:url(../images/ok_icon.png) left center no-repeat;width:240px;margin:0 auto;padding-left:63px;}
.submitOrderOK .payOk_content{ margin-top:146px;}
	.payOk_content .pay_info{ margin:35px auto 55px auto;width:523px;height:150px;border:2px solid #b4b4b4;background-color:#f6f6f6;border-radius:6px;padding:18px 0 0 30px;}
	.payOk_content .pay_info p{ font-size:18px;color:#333;line-height:32px;}
	.payOk_content .clear_now{ display:inline-block;width:125px;height:36px;border-radius:8px;background-color:#ff0066;color:#fff;font-size:22px;line-height:34px;}
	.payOk_content .f18 a{ display:inline-block;border-bottom:1px solid #000;padding-bottom:4px;margin:0 8px;font-size:20px;}
	.payWay_content{ width:928px;height:510px;border:2px solid #dbd9da;margin:180px auto 0 auto;}
	.payWay_content .left_tab{ width:148px;height:510px;}
	.payWay_content .left_tab a{ height:170px;width:148px;display:inline-block;background-color:#ececec;border-right:2px solid #dbd9da;text-align:center;color:#333;font-size:18px;}
	.payWay_content .left_tab img{ display:block;}
	.payWay_content .left_tab .current{ background-color:#fff;border-right:0;border-bottom:2px solid #dbd9da;height:168px;width:150px;border-top:2px solid #dbd9da;}
	.payWay_content .left_tab .alipay_pay{ width:64px;height:64px;margin:42px 0 17px 41px;border-radius:13px;}
	.payWay_content .left_tab .weixin_pay{ width:75px;height:59px;margin:31px 0 20px 38px;}
	.payWay_content .left_tab .card_pay{ width:69px;height:69px;margin:33px 0 15px 41px;}
	.payWay_content .right_content .alipay_code{ width:365px;height:365px;background-color:#f5f6f8;text-align:center;margin-top:80px;margin-left:170px;}
	.payWay_content .right_content .alipay_code img{ margin-top:153px;}
	.payWay_content .right_content .alipay{ padding-top:45px; background:url(../images/alipay.png) no-repeat center top; display:block; position:relative; top:150px;}
/*我的账户*/
.account{}
.account_left{ width:335px;height:1000px; position:fixed; left:0; top:92px;  background-color:#fff;}
.account_left .user_info{ text-align:center;width:335px;height:174px;background:url(../images/useraccount_bg.png) no-repeat;color:#ff0066;font-size:20px;border-bottom:1px solid #d4d0d0;}
.account_left .user_info img{ width:63px;height:63px;margin:23px 0 18px 0;}
.account_left .list_tab li{ border-bottom:1px solid #d4d0d0;height:83px;width:335px;line-height:83px;font-size:20px;color:#333;}
.account_left .list_tab span{ margin-left:116px;}
.account_left .list_tab .current{ background:#e6e6e6 url(../images/listtab_bg.png) left center no-repeat;}
.account_left .back_account{ width:228px;height:44px;border:2px solid #878787;border-radius:20px;font-size:20px;margin:100px auto 0 auto;text-align:center;line-height:44px;}
.list_one .order_tab{ width:1485px;height:46px;border:1px solid #d4d0d0;background-color:#fff;margin:17px 0 0 55px;padding:12px 0;}
.list_one .order_tab li{ width:19.9%;height:46px;line-height:46px;font-size:24px;color:#ababab;float:left;text-align:center;border-right:1px solid #d4d0d0;position:relative;}
.list_one .order_tab .current{ color:#333;}
.list_one .order_tab .current em{ position:absolute;display:inline-block;width:296px;height:6px; background:url(../images/ordertab_bg.png) no-repeat;left:0;top:52px;}
.order_state .no_payorder{ width:1485px;margin:222px 0 0 55px;text-align:center;}
.order_state .no_delivery{ width:1439px;margin:17px 0 0 55px;background-color:#fff;padding:14px 23px 0 23px;}
	.no_delivery .order_info{ font-size:16px;border-bottom:1px solid #d4d0d0;margin-bottom:20px;padding-bottom:14px;position:relative;}
	.no_delivery .order_info p{ line-height:30px;}
	.no_delivery .order_info .order_tracker{ width:132px;height:53px;border-radius:5px;background-color:#ff0066;font-size:20px;text-align:center;line-height:53px;position:absolute;right:77px;top:35px;}
	.no_delivery .order_info .comment_ed{ width:132px;height:53px;border-radius:5px;background-color:#d6d6d6;font-size:20px;text-align:center;line-height:53px;position:absolute;right:77px;top:35px;}
	.no_delivery .order_info .comment_ed a{ color:#fff;}
	.no_delivery .order_info .order_tracker a{ color:#fff;}
	.no_delivery .goods_img  a{ display:inline-block;width:110px;height:110px;float:left;margin-right:5px;margin-bottom:5px;}
	.no_delivery .order_operate { margin:50px 98px 0 0;}
	.no_delivery .order_operate  a{ display:inline-block;width:119px;height:36px;border-radius:18px;font-size:20px;text-align:center;line-height:36px;}
	.no_delivery .order_operate  .back_money{ border:1px solid #333;color:#333;margin-right:36px;}
	.no_delivery .order_operate  .order_detail{ border:1px solid #ff0066;color:#ff0066;}
	.no_delivery >p{ margin-right:255px;height:18px;}
.account_right { height:900px;overflow:auto; position:absolute; left:330px; padding-right:50px; top:0px; bottom:100px;}
.account_right .manage_addr{ width:1490px;margin:17px 0 0 55px;}
.manage_addr .addrBoxLeft .addrList{  width:730px;height:870px;overflow-y:auto;}
.manage_addr .addrList>div{ width:691px;height:262px;background:#fff url(../images/addrBg.png) no-repeat left top;margin-bottom:15px;border:1px solid #d4d0d0;padding:40px 10px 20px 10px;}
.manage_addr .addrList>div.default{ background:#fff url(../images/addrDefault.png) no-repeat top right;}
.manage_addr .addrList>div p{ line-height:40px; font-size:20px;margin-left:10px;}
.manage_addr .addrList>div l{ border-top:1px dashed #ff64a2; display:block; width:100%; height:1px; margin-top:65px; margin-bottom:5px;}
.manage_addr .addrList>div em{ display:inline-block; width:31px; height:31px; margin-right:12px; position:relative; top:7px; background:url(../images/cartGoods_unselected.png) center center; cursor:pointer;margin-left:20px;}
.manage_addr .addrList>div em.selected{ background:url(../images/cartGoods_selected.png) center center;}
.manage_addr .addrList>div .edit{ color:#ababab; padding-left:35px;  background:url(../images/edit.png) no-repeat left center;}
.manage_addr .addrList>div .delete{ color:#ababab; padding-left:35px; background:url(../images/delete.png) no-repeat left center; margin-left:85px;margin-right:75px;}
.manage_addr .addrBoxRight{ width:713px; height:322px; border:1px solid #d4d0d0;background-color:#fff;}
.manage_addr .addrBoxRight img{ margin-top:77px;}
.manage_addr .none_addrStyle{ width:1490px;background-color:#fff;}
.manage_addr .none_addrStyle p{ padding:22.5% 0;}

.user_integral .integral_tab{ width:1485px;height:46px;border:1px solid #d4d0d0;background-color:#fff;margin:17px 0 0 55px;padding:12px 0;}
.user_integral .integral_tab li{ width:33.25%;height:46px;line-height:46px;font-size:24px;color:#ababab;float:left;text-align:center;border-right:1px solid #d4d0d0;position:relative;}
.user_integral .integral_tab .current{ color:#333;}
.user_integral .integral_tab .current em{ position:absolute;display:inline-block;width:495px;height:6px; background:url(../images/ordertab_bg.png) center center no-repeat;left:0;top:52px;}
.use_integral{ width:1485px;height:186px;border:1px solid #d4d0d0;background-color:#fff;margin:17px 0 0 55px;}
.use_integral .usable{ width:238px;height:100px;border-right:1px solid #d4d0d0;margin:44px 0 0 102px;}
.integral_table{ width:1485px;margin:17px 0 0 55px;text-align:center;}
.integral_table thead{ width:100%;background-color:#fff;height:16px;line-height:40px;padding:12px 0;}
.integral_table thead td{ border-right:1px solid #d4d0d0;font-size:18px;color:#333;}
.integral_table thead .tit{ border:1px solid #d4d0d0;}
.integral_table thead .gap{ height:17px;background-color:#e6e6e6;border-top:1px solid #d4d0d0;}
.integral_table tbody{ width:100%;background-color:#fff;border:1px solid #d4d0d0;}
.integral_table tbody td{ height:120px;font-size:14px;color:#333;}
.integral_table tbody tr{ border-bottom:1px solid #d4d0d0;}

.coupon_box .coupon_tab{ width:1485px;height:46px;border:1px solid #d4d0d0;background-color:#fff;margin:17px 0 0 55px;padding:12px 0;}
.coupon_box .coupon_tab li{ width:33.26%;height:46px;line-height:46px;font-size:24px;color:#ababab;float:left;text-align:center;border-right:1px solid #d4d0d0;position:relative;}
.coupon_box .coupon_tab .current{ color:#333;}
.coupon_box .coupon_tab .current em{ position:absolute;display:inline-block;width:495px;height:6px; background:url(../images/ordertab_bg.png) center center no-repeat;left:0;top:52px;}
.coupon_box .no_coupon{ width:1485px;margin:222px 0 0 55px;text-align:center;}
.use_coupon{ width:1485px;border:1px solid #d4d0d0;background-color:#fff;margin:17px 0 0 55px;}
.use_coupon .have_coupon{ width:1409px;margin:60px auto 0 auto;padding-bottom:165px;}
.use_coupon .have_coupon li{ float:left;width:674px;height:215px;background:url(../images/coupon_bg.png) center center no-repeat;margin-bottom:60px;position:relative;}
.use_coupon .have_coupon li .f18{ position:absolute;right:17px;}
.use_coupon .used_coupon li { background:url(../images/couponNo_bg.png) center center no-repeat;}
.use_coupon .used_coupon li .wordPink { color:#ababab;}
	
	
.design_title{ height:175px;background-color:#fff;width:1409px;margin:0 auto;}
	.design_title fieldset{ border-top:1px solid #d4d0d0;}
	.design_title legend{ font-size:18px ;color:#ababab;padding:0 30px;}
		
	
	
	
	
	
	
	
	
	
	
/*首页*/
.container{position:absolute; top:91px; bottom:95px; left:0;  -webkit-overflow-scrolling: touch;}
/*轮播*/
.scroll_box{  overflow:hidden; position:relative; height:386px; left:-2px;}
		.scroll_box ul li{  position:absolute;left:50%;top:0; margin-left:-960px;}
		.scroll_box ul li img{ display:block; width:1920px; height:386px;}
	.hd{position:absolute; height:14px; bottom:15px; left:50%; font-size:0; -webkit-text-size-adjust:none;  z-index:9; }
		.hd li{ display:inline-block; width:14px; height:14px;background:url(../images/round_white.png) no-repeat; margin:0 10px;}
		.hd li.on{ background:url(../images/round_purple.png) no-repeat;}
/*热门推荐商品列表*/
.hot_title{ height:41px; line-height:41px; margin-left:75px; margin-right:75px; color:#ff64a2; font-size:30px; }
.hot_title span{ padding-left:36px; background:url(../images/hot_goods.png) left center no-repeat;}
.goods_list_box{ margin-left:75px;margin-right:75px;}
	.goods_list{ margin-bottom:0px; }
	.goods_list img{ }
	.goods_list li{ float:left;margin-right:30px;margin-bottom:30px; border:1px solid #d4d4d4; width:413px;padding-bottom:15px;text-align:center;}
	.goods_list li p{ text-align:left; margin-left:12px; line-height:22px; height:35px; margin-top:10px;}
.buyNow{ width:110px; height:40px; line-height:40px; text-align:center; background:url(../images/buyNow_bg.png) no-repeat; color:#fff; font-size:24px; border-radius:5px; float:right; margin-right:12px; margin-top:15px;}
.salesNum{background-color:#23ab15;color:#fff;font-size:16px; position:relative; top:-10px; left:15px;}

/*登录弹出层*/
.cover{ background-color:black; -moz-opacity:0.5; opacity:.50; filter:alpha(opacity=50);  position:absolute; left:0px; top:90px; bottom:98px; width:100%; height:auto; z-index:9990;}
.loginWindow,.registerWindow{ position:absolute; right:183px; bottom:376px; width:383px; height:355px; z-index:88889; background-color:#fff;}
.loginWindow>p,.registerWindow>p{ font-size:21px; text-align:center; border-bottom:1px solid #e9e8e9; line-height:45px; margin:0 5px;}
.loginInputInfo{ margin:40px 50px 0 50px; width:283px; height:255px; position:relative;}
.loginInputInfo label{ font-size:18px; color:#666666; margin-right:15px;}
.loginInputInfo .txt{ border:1px solid; height:36px; line-height:36px; border:1px solid #dadada; padding-left:5px; margin-bottom:10px; border-radius:10px;}
.loginInputInfo .inputPhone{ width:205px;}
.loginInputInfo .inputCode{ width:100px; margin-top:40px;}
.loginInputInfo .getCode{ font-size:14px; color:#ff64a2; margin-left:10px;}
.loginInputInfo .codeError{ font-size:13px; color:#7a7a7a; text-decoration:underline;}
.loginInputInfo .pinkBtn{ width:283px; height:40px; line-height:40px; font-size:17px; color:#fff; background-color:#ff0066;  margin-top:51px;border:0; position:absolute; bottom:30px;}
.loginInputInfo .gotoRegister{ font-size:13px; color:#666666; text-decoration:underline; text-align:right; margin-top:12px;position:absolute; bottom:0; right:0}

/*搜索弹框*/
.searchGreyDiv{background-color:black; -moz-opacity:0.3; opacity:.30; filter:alpha(opacity=30);  position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:130;}
.searchBox{ width:475px; height:600px; background:0; position:fixed;right:0px; top:90px;z-index:140;
background-color:#ddd; -moz-opacity:0.96; opacity:.96; filter:alpha(opacity=96);
-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
box-shadow:2px 2px 10px #909090;/*opera或ie9*/}
.searchBox h2{ height:26px; font-size:18px; border-bottom:1px solid #d4d4d4; color:#5f5f5f; margin-left:15px; margin-right:15px; padding-top:30px;}
.searchBox .searchWord li{ float:left; width:40%; margin-left:5%; height:40px; line-height:40px; font-size:16px; color:#a1a1a1; }
.searchBox .searchInput{clear:both; height:45px;width:408px; background:url(../images/searchTxt_bg.jpg) no-repeat; font-size:18px; margin-left:23px; position:relative; top:150px; color:#d4d4d4; display:block;}
.searchBox .searchBtn{ width:50px; height:44px; border:1px solid #ddd; position:absolute; bottom:-1px; right:0; display:inline-block; background:#eee url(../images/searchBtn.png) no-repeat center center;}
.searchBox .searchInput .txt{ height:45px; line-height:45px; width:330px; padding-left:14px;  font-size:18px; color:#d4d4d4; background:0; border:0;}

/*搜索结果页*/
.sortMethods{ margin-top:20px; height:60px; line-height:60px; border-bottom:1px solid #bcbcbc; font-size:24px; margin-left:75px; margin-right:75px;}
.sortMethods li{ float:left; width:105px; text-align:center;}
.sortMethods li.current{ border-bottom:5px solid #ff0066; height:55px;}
.sortMethods li a{ color:#000; display:inline-block; height:60px; width:105px;}
.sortMethods #sortByPrice.up{ background:url(../images/priceBg1.jpg) no-repeat 85px 23px;}
.sortMethods #sortByPrice.down{ background:url(../images/priceBg2.jpg) no-repeat 85px 23px;}

/*母婴*/
.topNav{ height:60px; line-height:60px; background-color:#ff64a2; font-size:20px; padding-left:50px;}
.topNav li{ float:left; width:150px; text-align:center;}
.topNav li.current{ background-color:#fd2f81;}
.topNav li a{ color:#fff; display:inline-block; height:60px; width:150px;}
/*侧边滑动按钮+筛选弹框*/
#slideBtn1.hide,#slideBtn2.hide{ width:50px; height:98px; background:url(../images/slideLeft.png) no-repeat; position:absolute; right:0; top:50%; z-index:110; cursor:pointer;}
#slideBtn1.show,#slideBtn2.show{ width:50px; height:98px; background:url(../images/slideRight.png) no-repeat; position:absolute; right:470px; top:50%; z-index:130; cursor:pointer; }

.greyBg{background-color:#efefef; -moz-opacity:0.9; opacity:.90; filter:alpha(opacity=90);  position:fixed;right:0px; bottom:98px;z-index:999;width:475px; height:620px;}
.selectDiv{background:0; position:fixed;right:0px; bottom:98px;z-index:999;width:475px; height:620px;
-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
box-shadow:2px 2px 10px #909090;/*opera或ie9*/}
.select_left{ position:relative; width:200px; height:520px; overflow-y:auto;}
.select_left ul{ margin-top:37px;}
.select_left li{ width:157px; padding-left:30px; padding-right:13px; height:67px; line-height:67px; color:#000; background:0; cursor:pointer;} 
.select_left li span{ line-height:12px; position:relative; top:28px; text-align:right; dispaly:inline-block; height:12px;overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis; /* for Opera */
    text-overflow: ellipsis; /* for IE */}
.select_left li.current{ background-color:#fff; color:#ff0066;}
.select_right{ width:275px; height:520px; background-color:#fff; overflow-y:auto;}
.select_right ul{ margin-top:23px;}
.select_right ul.current{ display:block;}
.select_right li{ font-size:16px; color:#000; padding-left:20px; height:40px; line-height:40px;}
.select_right li.current{ color:#ff0066;}
.select_bottom{ clear:both; position:relative; top:30px; width:388px; height:35px; padding-left:36px; padding-right:51px;}
.select_bottom .btn{ font-size:15px; padding:6px 21px; background-color:#fff; color:#858585; border:1px solid #858585; border-radius:6px; cursor:pointer;}

/*购物车列表页*/
.leftGreyDiv{ background-color:#efefef; -moz-opacity:0.5; opacity:.50; filter:alpha(opacity=50);  position:absolute; left:0; top:0; z-index:999;width:180px; height:100%;}

.cartListPage{ width:1755px; height:100%; background-color:#fff; position:absolute; top:0;right:0; z-index:9999; border-left:2px solid #efefef;
-moz-box-shadow: 2px 2px 40px #000;/*firefox*/
-webkit-box-shadow: 2px 2px 40px #000;/*safari或chrome*/
box-shadow:2px 2px 40px #000;/*opera或ie9*/

}

.cartListPage .tit{ height:88px; line-height:88px; font-size:30px; text-align:center; border-bottom:1px solid #bcbcbc;}
.cartListPage .cartNull .gotoBuy{ margin-top:50px; width:176px; height:52px; line-height:52px; font-size:30px; text-align:center; color:#fff; display:inline-block; background:url(../images/redBtn.png) no-repeat;}
.cartListPage .cartGoods{ width:100%; text-align:center;}
.cartListPage .cartGoods thead{ font-size:18px; color:#333; height:45px; line-height:45px; border-bottom:1px solid #bcbcbc;}
.cartGoods em{ display:inline-block; width:31px; height:31px; position:relative; top:7px; background:url(../images/cartGoods_unselected.png) center center; cursor:pointer;}
.cartGoods em.selected{ background:url(../images/cartGoods_selected.png) center center;}
.cartGoods .td1{ width:133px; }
.cartGoods .td2{ width:130px; }
.cartGoods .td3{ width:435px; }
.cartGoods .td4{ width:220px; }
.cartGoods .td5{ width:230px; }
.cartGoods .td6{ width:195px; }
.cartGoods .td7{ width:210px; text-align:center;}
.img_border{ border:1px solid #cecece;}
.cartGoods tbody td{ border-bottom:1px solid #bcbcbc;}
.cartGoods tbody tr:last-child td{ border:0;}
.cartGoods tbody tr td:first-child{ border:0;}
.cartGoods tbody p{ line-height:40px; text-align:left; margin-left:40px;}
.cartGoods tbody o{ font-size:20px; color:#ff0066;}
.cartGoods tbody .totalPrice{ font-size:30px; color:#ff0066; font-weight:bold; float:right;}
.tax_questions{ display:inline-block; background:url(../images/tax_questions.png) no-repeat; width:17px; height:17px; margin-left:9px;}
.deleteBtn{ width:83px; height:30px; display:inline-block; background:url(../images/deleteBtn.png) no-repeat;}
.cartBottom{ height:98px; line-height:98px; width:100%; border-top:1px solid #e1e1e1; background-color:#fafafa; position:absolute; left:0; bottom:0;}
.continueBye{ margin-top:20px; margin-right:32px; width:176px; height:52px; line-height:52px; font-size:30px; text-align:center; color:#fff; display:inline-block; background:url(../images/greyBtn.png) no-repeat;}
.gotoPay{ margin-top:20px; margin-right:144px; width:176px; height:52px; line-height:52px; font-size:30px; text-align:center; color:#fff; display:inline-block; background:url(../images/redBtn.png) no-repeat;}
.countPrice{ height:340px; width:100%; border-top:1px solid #dbd9da; background-color:#f6f6f6;}
.countPriceLeft{ float:left; width:707px; margin-top:13px; height:47px; line-height:47px; background-color:#fff; border:1px solid #dbd9da; font-size:20px; padding-left:50px; padding-right:23px;}
.countPriceLeft p{ width:520px; }
.countPriceLeft p a{padding-right:20px; background:url(../images/gotoArrow.png) no-repeat right center;}
.countPriceRight{ float:right; width:500px; margin-top:35px; margin-right:150px; font-size:20px;}
.countPriceRight table{float:right; }
.countPriceRight table tr{  height:35px; text-align:right;}
.countPriceRight li{ float:right; clear:both; line-height:35px;}
.countPriceRight .usablePoints{ font-size:16px; line-height:50px;}
.countPriceRight #k{ width:52px; height:23px; position:relative; top:6px; left:-10px; display:inline-block; background:url(../images/close.jpg) no-repeat left center!important; cursor:pointer;}
.countPriceRight #k.open{ background:url(../images/open.jpg) no-repeat left center!important;}

/*确定删除弹框*/
.greyDiv{ background-color:black; -moz-opacity:0.5; opacity:.50; filter:alpha(opacity=50);  position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:9999;}
.confirmDelete{ width:482px; height:218px; background-color:#fff; position:absolute; left:50%;margin-left:-241px;top:50%;margin-top:-109px; z-index:99999;}
.confirmDelete .sure{ text-align:center; position:absolute; left:15px; bottom:12px; font-size:20px; background:url(../images/sureBg.jpg) no-repeat!important;width:138px; height:41px; line-height:39px; color:#fff; display:inline-block;}
.confirmDelete .cancel{ text-align:center; position:absolute; right:15px; bottom:12px; font-size:20px; background:url(../images/cancel.jpg) no-repeat!important; width:138px; height:41px; line-height:39px; color:#a8a8a8; display:inline-block;}

/*优惠券弹框*/
.coupons{ width:568px; height:800px; overflow-y:scroll; background-color:#fff; position:absolute; right:-18px;; bottom:99px; z-index:9999;}
.coupons h2{ background-color:#eeeeee; font-size:16px; padding-left:18px; line-height:44px;}
.coupons .inforTitle{ width:534px; height:45px; line-height:45px; margin:11px auto 13px auto; border:1px solid #ff0066; }
.coupons .inforTitle li{ width:267px; height:45px; line-height:45px; float:left; text-align:center; font-size:16px; color:#ff0066; background-color:#fff; cursor:pointer;}
.coupons .inforTitle li.current{ color:#fff; background-color:#ff0066;}
.coupons .usable li{ width:531px; height:92px;  background:url(../images/couponBg.png) no-repeat; margin:0 auto 16px auto;}
.coupons .usable li.couponsNull{ background:none; height:250px; margin-top:100px;}
.coupons li.couponsNull img{ margin-left:135px;}
.coupons .useless li{ width:531px; height:92px;  background:url(../images/couponBg1.png) no-repeat; margin:0 auto 16px auto;}
.coupons .couponLeft{  color:#fff; margin-left:50px;}
.coupons .couponLeft p{ position:relative; top:25px;}
.coupons .couponRight{ margin-left:235px; position:relative; top:-15px;}
.coupons .couponRight em{display:inline-block; width:31px; height:31px; position:absolute; top:0px; right:12px; background:url(../images/coupon_unselected.png) center center; cursor:pointer;}
.coupons .couponRight em.selected{ background:url(../images/coupon_selected.png) center center;}

/*填写收货信息*/
.submitOrderPage{width:1740px; background-color:#fff; position:absolute; top:0; bottom:97px;right:0; z-index:9999;
-moz-box-shadow: 2px 2px 20px #333;/*firefox*/
-webkit-box-shadow: 2px 2px 20px #333;/*safari或chrome*/
box-shadow:2px 2px 20px #333;/*opera或ie9*/}
.submitOrderPage .tit{font-size:28px; height:66px; line-height:66px; margin-top:20px; border-bottom:1px solid #dbd9da; margin-left:36px; margin-right:36px;}
.process{ clear:both; margin:0 auto; width:1666px; height:50px; margin-top:11px;}
.addReceiver{ margin-top:10%; text-align:center;  cursor:pointer;}
.next{ display:block; width:250px; height:76px; line-height:76px; text-align:center; color:#fff; font-size:38px; background:url(../images/nextRed.png) no-repeat; position:absolute; bottom:20px;left:50%; margin-left:-125px;}

/*地址编辑弹框*/
.greyDiv1{ background-color:black; -moz-opacity:0.5; opacity:.50; filter:alpha(opacity=50);  position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:88886;}
.addressEdit{ width:600px; height:780px; background-color:#fff; position:absolute; right:0; bottom:99px; z-index:999999;}
.addressEdit h2{ background-color:#eeeeee; font-size:16px; padding-left:18px; line-height:44px;}
.inforInput{ position:relative; width:568px; height:305px; overflow:hidden; border:1px solid #d4d0d0; border-radius:5px; margin:10px auto 0 auto;}
.inforInput li{ height:50px; line-height:50px; border-bottom:1px dashed #ababab; margin:0 10px; position:relative;}
.inforInput li label{ color:#333; font-size:16px; margin-right:18px;}
.inforInput li:first-child label{ margin-right:15px; }
.inforInput li:last-child label{ margin-right:0px; }
.inforInput li .txt{ font-size:16px; color:#333; border:0; width:270px;}
.inforInput li .idScan{ position:absolute; right:0px; top:25px; font-size:18px; color:#fff; width:150px; height:52px; line-height:52px; text-align:center; display:inline-block; background:url(../images/idScanBg.png) repeat-x;}
.inforInput .addressCon{ font-size:16px; color:#333; display:inline-block;}
.inforInput .selectBtn{ display:inline-block; width:40px; height:20px; background:url(../images/selectDown.png) no-repeat; position:absolute; right:0px; top:20px;}
.addressEdit .saveBtn{ margin:60px auto 0 auto; display:block; font-size:18px; color:#ff0066; width:248px; height:45px; line-height:45px; text-align:center; border:1px solid #ff0066; border-radius:5px;}
/*选择地址下拉框*/
.selectAddress_info .select_div{
	height:25px; line-height:25px; width:140px; overflow:hidden; border:1px solid #dbdbdb;float:left; margin-left:5px;
}
.selectAddress_info select {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
	
	 height:25px; width:140px;color:#4d4d4d; font-size:1.2rem; color:#000; border:0; overflow:hidden;
	 background: #fff url(../images/selectDown.jpg) 125px center no-repeat;
}
.selectAddress_info select::-ms-expand { display: none; }
.selectAddress_info{ width:445px; height:30px;  display:inline-block; float:left; position:relative; top:12px;}


/*选择收货地址*/
.addressBoxLeft{ float:left;}
.addressBoxLeft h2{ margin-top:25px; width:822px; height:36px; line-height:36px; background-color:#e7e7e7; border-bottom:1px solid #d4d0d0; font-size:22px; color:#333; text-align:center; }
.addressBoxLeft .addressList{  width:820px; height:500px; overflow-y:auto; padding-top:8px; border:1px solid #d4d0d0; border-top:0;}
.addressList li{ width:734px; height:183px; padding-left:30px; padding-right:30px; padding-top:40px; border:1px solid #d4d0d0; margin:0 auto 8px auto; background:url(../images/addressBg.png) no-repeat left top;}
.addressList li.default{ background:url(../images/addressDefault.png) no-repeat top right;}
.addressList li p{ line-height:40px; font-size:20px;}
.addressList li l{ border-top:1px dashed #ff64a2; display:block; width:100%; height:1px; margin:5px 0;}
.addressList li em{ display:inline-block; width:31px; height:31px; margin-right:12px; position:relative; top:7px; background:url(../images/cartGoods_unselected.png) center center; cursor:pointer;}
.addressList li em.selected{ background:url(../images/cartGoods_selected.png) center center;}
.addressList li .edit{ color:#ababab; padding-left:35px;  background:url(../images/edit.png) no-repeat left center;}
.addressList li .delete{ color:#ababab; padding-left:35px; background:url(../images/delete.png) no-repeat left center; margin-left:85px;}
.addressBoxRight{ width:796px; height:223px; padding-top:60px; border:1px solid #d4d0d0; margin-top:25px; float:right; cursor:pointer;}

/*订单详情弹框*/
.orderInfo{ width:568px; background-color:#fff; position:fixed; right:0; bottom:98px; z-index:999999;}
.orderInfo h2{ background-color:#eeeeee; font-size:16px; padding-left:18px; line-height:44px;}
.orderInfo ul{ margin-left:18px;}
.orderInfo ul li{ font-size:16px; line-height:30px; color:#a1a1a1;}
.orderInfo .orderDetail li{ color:#000;}
.full_cheap{background:#ff64a2 url(../images/full_cheap.jpg) no-repeat; font-size:14px; color:#fff; padding-left:10px;margin-left:18px;}
.activities{width:400px;float:left;}

/*物流详情弹框*/
.logisticsInfo{ width:568px; height:810px; background-color:#fff; position:absolute; right:0; bottom:99px; z-index:999999;}
.logisticsInfo h2{ background-color:#eeeeee; font-size:16px; padding-left:18px; line-height:44px;}
.logisticsInfo .state{ border-bottom:9px solid #eeeeee; padding:10px 18px;}
.logisticsInfo .state p{ line-height:30px; font-size:16px; color:#a1a1a1; }
.logisticsInfo ul{ margin-top:10px;}
.logisticsInfo ul li{ padding:10px 20px 10px 55px; background:url(../images/logisticsBg.png) repeat-y 20px center;}
.logisticsInfo ul li.last{ background:url(../images/logisticsBg1.png) no-repeat 20px center;}
.logisticsInfo ul li.first{ background:url(../images/logisticsBg2.png) no-repeat 20px -5px;}
.logisticsInfo li p{ font-size:14px; color:#d0d0d0; line-height:15px;}
.logisticsInfo li.last p{  color:#000;}

/*未付款订单-取消订单弹框*/
.cancelOrder{ width:482px; height:324px; background-color:#fff; position:absolute; left:50%;margin-left:-241px;top:50%;margin-top:-162px; z-index:99999;}
.cancelOrder .tip{ font-size:16px; background-color:#f7f7f7; border:1px solid #9d9d9d; margin:20px 15px 12px 15px; padding-left:10px; height:30px; line-height:30px; border-radius:5px;}
.cancelOrder ul li{ line-height:30px; margin-left:18px; padding-left:20px; font-size:16px; background:url(../images/reason_unselected.png) no-repeat left center;}
.cancelOrder ul li.selected{ background:url(../images/reason_selected.png) no-repeat left center;}
.cancelOrder .sure{ text-align:center; position:absolute; left:15px; bottom:12px; font-size:20px; background:url(../images/sureBg.jpg) no-repeat!important; width:138px; height:41px; line-height:39px; color:#fff; display:inline-block;}
.cancelOrder .cancel{ text-align:center; position:absolute; right:15px; bottom:12px; font-size:20px; background:url(../images/cancel.jpg) no-repeat!important; width:138px; height:41px; line-height:39px; color:#a8a8a8; display:inline-block;}

/*评价商品弹框*/
.evaluate{ width:568px; height:800px; background-color:#fff; position:absolute; right:0; bottom:99px; z-index:99991;}
.evaluate h2{ background-color:#eeeeee; font-size:16px; padding-left:18px; line-height:44px;}
.goodsOrder>p{ font-size:16px; color:#ff0066; line-height:38px; margin:0 20px;}
.goodsOrder .goodBox{ padding:15px; border-top:1px solid #eeeeee; border-bottom:1px solid #eeeeee; position:relative;}
.goodsOrder .goodBox .gotoEvaluate{ font-size:16px; color:#ff0066; display:inline-block; width:81px; height:26px; line-height:26px; text-align:center; background:url(../images/gotoEvaluate.png) no-repeat; position:absolute; right:20px; bottom:15;}
.goodsOrder .stars{ position:relative; top:8px;}
.goodsOrder .stars li{ float:left; margin-right:30px; width:20px; height:20px; display:block; background:url(../images/greyStar.png) no-repeat;}
.goodsOrder .stars li.red{  background:url(../images/redStar.png) no-repeat;}
.goodsOrder textarea{ overflow:hidden; background-color:#f9f9f9; border:1px solid #9d9d9d; border-radius:5px; width:511px; height:184px; margin-top:40px; margin-left:16px; padding:12px; font-size:16px;}
.goodsOrder .btn{ display:block; width:246px; height:43px; background-color:#ff0066; color:#fff; font-size:18px; text-align:center; line-height:43px; margin:65px auto 0 auto; border-radius:5px;}
/*键盘弹出层定位*/
#softkey{ position:fixed;bottom:100px;right:0;z-index:99999999999999;}
.index_code { right:120px;top:66px;}



/*登录修改*/
.loginWindow>ul{ width:100%;border-bottom:1px solid #e9e8e9;}
.loginWindow>ul li{ width:50%; float:left; font-size:21px; line-height:45px; }
.loginWindow>ul li a{ display:inline-block; width:50%; margin-left:25%;}
.loginWindow>ul li.curr a{ border-bottom:3px solid #ff0066; color:#ff0066;}
.loginInputInfo .remove{ position:absolute; top:10px; right:15px;}
.loginInputInfo .pinkBtn{ width:283px; height:40px; line-height:40px; font-size:17px; color:#fff; background-color:#ff0066;  margin-top:51px;border:0; position:absolute; bottom:30px; border-radius:6px;}
.loginInputInfo .succe{ width:85%; margin-left:7.5%; height:38px; line-height:38px; text-align:center; border-radius:6px; background-color:#9f9f9f; color:#fff; position:absolute; bottom:-65px;}
.loginInputInfo .sz_jp{ position:absolute; top:95px; right:15px;}
.loginInputInfo .inputPhone{ width:205px;}
.loginInputInfo .time_out{ font-size:14px; color:#666; margin-top:-15px; margin-right:15px;}

