body,div,ul,li,a,i,table,span,select,input,button,ol,label,img,td,dd,dl,dt,p,h1,h2,h3,h4,h5,h6{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
a{text-decoration: none;color: #000000;}
.box{
	margin: 0 auto;
	width: 1024px;
}
.naver{width: 1024px;height: 40px; background-color: azure;border-bottom: 1px solid #F0FFFF;clear: both;}
.ul-menu{list-style: none; padding-left: 20px;}
.ul-menu li{float: left;width: 50px;height: 40px;line-height: 40px;text-align: center; position: relative;}
.ul-menu li .ul-sub{display: none; position: absolute; top: 40px;left: -20px; width: 100px;height: 200px;background-color: #FFFFFF; }
.ul-menu li .ul-sub li{list-style: none; width: 100px; height: 30px;line-height: 30px;background-color: #ffffff; color: #000000;}

.main{width: 1024px;height:768px;clear: both;background-color: #ccc;}


