html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, input, select {margin:0; padding:0; border:0 none; outline:0; color:inherit;}
html, body {width:100%; height:100%;}
body {margin:0 auto; font:12px/1 "Microsoft Yahei", "微软雅黑", sans-serif; vertical-align:baseline; overflow-y:scroll;}
h1 {font-weight:bold; font-size:18px; line-height:18px; color:#474545;}
h3 {font-weight:normal; font-size:12px; color:#746969;}
h2, h4, h5, h6 {font-weight:normal; font-size:100%;}
table {border-collapse:separate; border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
a {text-decoration:none;}
p {line-height:22px; text-align:justify;}
a img, iframe {border:none;}
a:link {color:inherit;}
:focus {outline:0;}
/*img{ vertical-align:top;}*/
ol, ul {list-style:none;}
input, textarea, select, button {font-weight:inherit; font-size:inherit; *font-size:100%; font-family:inherit;}
/* == clearfix == */
.clearfix:after {display:block; height:0; clear:both; content:"清除浮动";}
.clearfix {*zoom:1;}/*IE/7/6*/

/* == 以上 reset Css == */

/**************** 全局公用样式 ****************/
/*body {max-width:1580px; min-width:1130px;_width:expression(document.body.clientWidth<1130? "1130px": (document.body.clientWidth>1580?"1580px":"auto"));}*/
body {max-width:1920px; min-width:1130px; +overflow:hidden;}
/*body.on {margin-left:-378px;}*/
.g-wrap {position:relative; margin:0 auto; width:1130px; height:100%; overflow:hidden;}
#header {position:relative; z-index:5; height:79px; background-color:#fff;border-bottom: 1px solid #DADADA;}
#logo {position:absolute; top: 10px; left:1px;font-size: 24px;line-height: 50px; vertical-align: bottom; color: #003399; width:380px; height:60px; background:url(../images/logo.png) left center no-repeat;background-size: 100% 100%;}
#nav {position:absolute; top:0; right:0; z-index:4; height:100%; background-color:#fff; overflow:hidden;}
#nav li {float:left; height:100%; -webkit-transition:background-color 700ms; transition:background-color 700ms;}
#nav .n1 {width:83px;}
#nav .n2, #nav .n3, #nav .n5, #nav .n6, #nav .n7, #nav .n8 {width:83px;}
#nav .n4 {width:96px;}
#nav li a {position:relative; z-index:2; display:block; width:100%; height:100%; font-weight:bold; font-size:13px; line-height:79px; text-align:center; color:#666; -webkit-transition:color 200ms; transition:color 200ms;}
#nav li a.on {color:#fff;}
#nav li a span {position:absolute; left:0; top:0; z-index:2; width:100%; height:100%;}
#nav li a .bkg {top:100%; z-index:1; background-color:#0068B7; -webkit-transition:top 200ms; transition:top 200ms;}
#nav li a.on .bkg,
#nav li a:hover .bkg {top:0;}
#nav li a:hover{color: #FFFFFF;}
#shop {position:absolute; bottom:0; right:0; z-index:5; width:78px; height:100%; background:#fff; border-left:1px solid #e5e5e5;}
#shop {width:85px;}
#shop .btn-search {position:absolute; top:30px; left:15px; width:20px; height:20px; background:url(../images/icon_search.png) no-repeat 0px 0px;}
#shop .btn-search:hover,
#shop .btn-search.on {background-image:url(../images/icon_search_on.png);}
/*#searchbox {display:none; position:absolute; top:100%; z-index:11115; line-height:44px; right:0; padding:0 20px; width:200px; height:44px; border:8px solid #4c4a4f;}*/
#shop .btn-lang {position:absolute;top:0; right:-10px; padding:0 10px; width:auto; height:100%; font-weight:bold; font-size:13px; line-height:76px; color:#666369; background-color:#fff; -webkit-transition:color 300ms; transition:color 300ms;}
#shop .btn-lang:hover {color:#ff2424;}
#home {position:relative; overflow:hidden;}
#subNav {position:absolute; top:0; left:0px; z-index:4; width:100%; height:61px; overflow:hidden;}
#subNav .g-wrap {overflow:visible;}
#subNav .g-wrap .item {position:absolute; top:-100%; width:100%; height:100%; background-color:#0068B7; overflow:hidden; -webkit-transition:top 300ms; transition:top 300ms;}
#subNav .g-wrap .about {left:536px; padding:0 10px; /*width:835px;*/}
#subNav .g-wrap .news {left:619px; padding:0 10px; /*width:752px;*/}
#subNav .g-wrap .business {left:702px; padding:0 10px; /*width:573px;*/}
#subNav .g-wrap .company {left:798px; padding:0 10px; /*width:573px;*/}
#subNav .g-wrap .relation {left:881px; padding:0 10px;/* width:643px;*/}
#subNav .g-wrap .culture {left:964px; padding:0 10px; /*width:573px;*/}
#subNav .g-wrap .talents {left:964px; padding:0 10px; /*width:573px;*/}
#subNav .g-wrap .search {right:0; width:auto; height:44px; border:8px solid #4c4a4f;}
#subNav .g-wrap .search input { padding:0 20px; width:200px; height:44px; line-height:44px; }
#subNav .g-wrap .langs {right:0; padding:0 15px; width:auto;}
#subNav .g-wrap .on {top:0;}
#subNav .g-wrap .item a {float:left; padding:0 16px; font-weight:bold; font-size:13px; line-height:61px; color:#FFFFFF;-webkit-transition:color 300ms; transition:color 300ms;}
#subNav .g-wrap .item a:hover {color:#f63b2e;}
#subNav .g-wrap .item #on {color: #f63b2e;}
/* foot */
#foot{height:auto;width:100%;background-color: #E1E1E1; color:#999999;overflow:hidden;padding: 20px 0;}
#links{ width:1130px;margin:0 auto;}
#links #foot_top{float:left; padding:20px 0px;}
#foot_top_left{  float:left; width:200px; height:88px;}
#foot_top_right { float:left; width:720px; height:70px;}
#foot_top_right a { margin-right:15px;}
/*#foot_top span,#foot_top a{ float:left;}*/
#links a{ color:#999999; }
#links a:hover{color:#b3d800;}
#foot_botoom {font-size:12px; width:1130px; height:50px; clear:both;}
#foot_botoom a{ float:left;}
#foot_botoom_left{ float:left; text-align:left; width:650px; height:68px;line-height:30px;}
#foot_botoom_right{float:right; text-align:right; width:340px; height:68px; line-height:30px;}
#foot .foot_cont{width: 1130px;margin: 0 auto;}
#foot .foot_cont .foot_left{float: left;width: 800px;height: auto;}
#foot .foot_cont .foot_left .friend_link{padding-top: 10px;min-height: 20px;margin-bottom: 5px;}
#foot .foot_cont .foot_left .friend_link span{font-weight: bold;}
#foot .foot_cont .foot_left .friend_link a{margin-left: 18px;transition: all ease 150ms;}
#foot .foot_cont .foot_left .friend_link a:hover{color: #007AE2;}
#foot .foot_cont .foot_left .friend_link .moreLink{display: inline-block; width: 10px; height: 10px; background: url(../images/more.png) no-repeat 0 0; vertical-align: middle;}
#foot .foot_cont .foot_left .friend_link .moreLink.other{background: url(../images/more.png) no-repeat -10px 0;}
#foot .foot_cont .foot_left .friend_link .friends{line-height: 24px; padding-left: 53px;}
#foot .foot_cont .foot_left .foot_txt{font-size: 12px;color: #999999;line-height: 24px;}
#foot .foot_cont .foot_left .foot_txt a{color:#999999;transition: all ease 150ms;}
#foot .foot_cont .foot_left .foot_txt a:hover{color: #007AE2;}
span.kan3{position:relative; width:1px; height:12px; margin:9px 10px 0px;}
#foot .foot_cont .foot_right{float: right;width: 250px;height: 120px;}
#foot .foot_cont .foot_right>div{width: 100px;height: 100px;text-align: center;}
#foot .foot_cont .foot_right>div img{width: 100%;height: 100%;}
#foot .foot_cont .foot_right .erweima1{float: left;}
#foot .foot_cont .foot_right .erweima2{float: right;}
#foot .foot_cont .foot_right .txt{line-height: 20px;}






